.language-drop.dr__el
    .language-drop__main.dr__el-btn
        img(src="./img/lang-USA.svg" width="23" height="16" alt="").language-drop__pic
        .language-drop__title English
    .language-drop__list-wrapper.stblock.dr__el-block
        ul.language-drop__list
            li.item.active
                img(src="./img/lang-USA.svg" width="23" height="16" alt="").language-drop__pic
                .title English
            li.item 
                img(src="./img/lang-DE.png" width="23" height="16" alt="").language-drop__pic
                .title Deutsch