extends core/_dashboard-template
include mixins/paymenttable-item
include mixins/pagination

block title
    title Billing

block content
    .dashboard__products-head
        h1.dashboard__title Billing

    .billinginfo__wrapper
        .billinginfo__block.account__wallet
            <svg class="icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1643_7136)">
            <path d="M7.33301 22.666C8.43758 22.666 9.33301 21.7706 9.33301 20.666C9.33301 19.5614 8.43758 18.666 7.33301 18.666C6.22844 18.666 5.33301 19.5614 5.33301 20.666C5.33301 21.7706 6.22844 22.666 7.33301 22.666Z" fill="#1FB46C"/>
            <path d="M25.3333 4H6.66667C4.89921 4.00212 3.20474 4.70518 1.95496 5.95496C0.705176 7.20474 0.00211714 8.89921 0 10.6667L0 21.3333C0.00211714 23.1008 0.705176 24.7952 1.95496 26.045C3.20474 27.2948 4.89921 27.9979 6.66667 28H25.3333C27.1008 27.9979 28.7952 27.2948 30.045 26.045C31.2948 24.7952 31.9979 23.1008 32 21.3333V10.6667C31.9979 8.89921 31.2948 7.20474 30.045 5.95496C28.7952 4.70518 27.1008 4.00212 25.3333 4ZM6.66667 6.66667H25.3333C26.3942 6.66667 27.4116 7.08809 28.1618 7.83824C28.9119 8.58838 29.3333 9.6058 29.3333 10.6667H2.66667C2.66667 9.6058 3.08809 8.58838 3.83824 7.83824C4.58838 7.08809 5.6058 6.66667 6.66667 6.66667ZM25.3333 25.3333H6.66667C5.6058 25.3333 4.58838 24.9119 3.83824 24.1618C3.08809 23.4116 2.66667 22.3942 2.66667 21.3333V13.3333H29.3333V21.3333C29.3333 22.3942 28.9119 23.4116 28.1618 24.1618C27.4116 24.9119 26.3942 25.3333 25.3333 25.3333Z" fill="#1FB46C"/>
            </g>
            <defs>
            <clipPath id="clip0_1643_7136">
            <rect width="32" height="32" fill="white"/>
            </clipPath>
            </defs>
            </svg>
            .__value €1990.00
            .__name Account Wallet
        .billinginfo__block.unpaid__invoices
            <svg class="icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1643_7144)">
            <path d="M28 31.8667L23.116 28.5187L19.564 30.952L16.0093 28.5173L12.4547 30.9493L8.89333 28.5147L4 31.8667V4C4 2.93913 4.42143 1.92172 5.17157 1.17157C5.92172 0.421427 6.93913 0 8 0L24 0C25.0609 0 26.0783 0.421427 26.8284 1.17157C27.5786 1.92172 28 2.93913 28 4V31.8667ZM8.89333 25.2827L12.4533 27.7173L16.0093 25.2827L19.564 27.7173L23.1173 25.2813L25.3333 26.8V4C25.3333 3.64638 25.1929 3.30724 24.9428 3.05719C24.6928 2.80714 24.3536 2.66667 24 2.66667H8C7.64638 2.66667 7.30724 2.80714 7.05719 3.05719C6.80714 3.30724 6.66667 3.64638 6.66667 4V26.8L8.89333 25.2827Z" fill="#DBAF3E"/>
            <path d="M22.6666 10.666H9.33333V13.3327H22.6666V10.666Z" fill="#DBAF3E"/>
            <path d="M20 16H9.33333V18.6667H20V16Z" fill="#DBAF3E"/>
            </g>
            <defs>
            <clipPath id="clip0_1643_7144">
            <rect width="32" height="32" fill="white"/>
            </clipPath>
            </defs>
            </svg>
            .__value €670.00
            .__name Unpaid Invoices
        .billinginfo__block.discount__rate
            <svg class="icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1643_7154)">
            <path d="M25.3331 0H18.6664C18.3128 0 17.9737 0.140476 17.7236 0.390524C17.4736 0.640573 17.3331 0.979711 17.3331 1.33333C17.3331 1.68696 17.4736 2.02609 17.7236 2.27614C17.9737 2.52619 18.3128 2.66667 18.6664 2.66667H25.3331C25.9271 2.66897 26.5128 2.80572 27.0464 3.06667L0.390449 29.724C0.263102 29.847 0.161526 29.9941 0.0916475 30.1568C0.0217688 30.3195 -0.0150128 30.4944 -0.0165512 30.6715C-0.0180896 30.8485 0.015646 31.0241 0.0826871 31.1879C0.149728 31.3518 0.248732 31.5007 0.373923 31.6259C0.499113 31.751 0.647982 31.85 0.811844 31.9171C0.975706 31.9841 1.15128 32.0179 1.32832 32.0163C1.50536 32.0148 1.68032 31.978 1.84299 31.9081C2.00566 31.8383 2.15279 31.7367 2.27578 31.6093L28.9331 4.95333C29.1941 5.48693 29.3308 6.07268 29.3331 6.66667V13.3333C29.3331 13.687 29.4736 14.0261 29.7236 14.2761C29.9737 14.5262 30.3128 14.6667 30.6664 14.6667C31.0201 14.6667 31.3592 14.5262 31.6093 14.2761C31.8593 14.0261 31.9998 13.687 31.9998 13.3333V6.66667C31.9977 4.89921 31.2946 3.20474 30.0448 1.95496C28.795 0.705176 27.1006 0.00211714 25.3331 0V0Z" fill="#0E86F4"/>
            <path d="M8.00033 13.3327C9.05516 13.3327 10.0863 13.0199 10.9634 12.4339C11.8404 11.8478 12.524 11.0149 12.9277 10.0403C13.3314 9.06579 13.437 7.99343 13.2312 6.95887C13.0254 5.9243 12.5174 4.974 11.7716 4.22812C11.0257 3.48224 10.0754 2.97428 9.04081 2.7685C8.00624 2.56271 6.93389 2.66833 5.95935 3.07199C4.98481 3.47566 4.15186 4.15925 3.56582 5.03631C2.97979 5.91337 2.66699 6.94452 2.66699 7.99935C2.66699 9.41384 3.2289 10.7704 4.22909 11.7706C5.22928 12.7708 6.58584 13.3327 8.00033 13.3327ZM8.00033 5.33268C8.52774 5.33268 9.04332 5.48908 9.48185 5.7821C9.92038 6.07512 10.2622 6.49159 10.464 6.97886C10.6658 7.46613 10.7186 8.00231 10.6158 8.51959C10.5129 9.03688 10.2589 9.51203 9.88595 9.88497C9.51301 10.2579 9.03785 10.5119 8.52057 10.6148C8.00329 10.7177 7.46711 10.6649 6.97984 10.463C6.49257 10.2612 6.07609 9.9194 5.78307 9.48087C5.49006 9.04234 5.33366 8.52677 5.33366 7.99935C5.33366 7.29211 5.61461 6.61383 6.11471 6.11373C6.61481 5.61364 7.29308 5.33268 8.00033 5.33268Z" fill="#0E86F4"/>
            <path d="M24.0003 18.666C22.9455 18.666 21.9144 18.9788 21.0373 19.5648C20.1602 20.1509 19.4766 20.9838 19.073 21.9584C18.6693 22.9329 18.5637 24.0053 18.7695 25.0398C18.9753 26.0744 19.4832 27.0247 20.2291 27.7706C20.975 28.5165 21.9253 29.0244 22.9598 29.2302C23.9944 29.436 25.0668 29.3304 26.0413 28.9267C27.0158 28.523 27.8488 27.8395 28.4348 26.9624C29.0209 26.0853 29.3337 25.0542 29.3337 23.9993C29.3337 22.5849 28.7718 21.2283 27.7716 20.2281C26.7714 19.2279 25.4148 18.666 24.0003 18.666ZM24.0003 26.666C23.4729 26.666 22.9573 26.5096 22.5188 26.2166C22.0803 25.9236 21.7385 25.5071 21.5366 25.0198C21.3348 24.5326 21.282 23.9964 21.3849 23.4791C21.4878 22.9618 21.7418 22.4867 22.1147 22.1137C22.4877 21.7408 22.9628 21.4868 23.4801 21.3839C23.9974 21.281 24.5335 21.3338 25.0208 21.5357C25.5081 21.7375 25.9246 22.0793 26.2176 22.5178C26.5106 22.9564 26.667 23.4719 26.667 23.9993C26.667 24.7066 26.386 25.3849 25.8859 25.885C25.3858 26.3851 24.7076 26.666 24.0003 26.666Z" fill="#0E86F4"/>
            </g>
            <defs>
            <clipPath id="clip0_1643_7154">
            <rect width="32" height="32" fill="white"/>
            </clipPath>
            </defs>
            </svg>
            .__value 10%
            .__name Discount Rate

        .paymentsmethods__block
            .title Payment methods
            .radios
                label.radio-item
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.3493 27.5594L11.7823 24.875L10.8177 24.8532H6.21179L9.41267 5.04469C9.42261 4.98489 9.4549 4.92914 9.50209 4.88954C9.54929 4.84994 9.60973 4.82812 9.67265 4.82812H17.4389C20.0171 4.82812 21.7964 5.35176 22.7254 6.3853C23.1609 6.87015 23.4383 7.37681 23.5724 7.93439C23.7131 8.51944 23.7156 9.21843 23.5782 10.071L23.5683 10.1332V10.6794L24.0038 10.9202C24.3705 11.1101 24.662 11.3275 24.8855 11.5764C25.2581 11.991 25.4991 12.5178 25.6009 13.1425C25.706 13.7849 25.6713 14.5493 25.4991 15.4148C25.3003 16.4103 24.9791 17.2774 24.5452 17.9869C24.1462 18.6407 23.6378 19.1829 23.0342 19.6031C22.458 20.0023 21.7732 20.3053 20.9991 20.4992C20.249 20.6899 19.3937 20.7861 18.4556 20.7861H17.8512C17.419 20.7861 16.9992 20.938 16.6697 21.2103C16.3394 21.4883 16.1208 21.8681 16.0537 22.2835L16.0082 22.5251L15.2431 27.2564L15.2084 27.4301C15.1993 27.4851 15.1835 27.5126 15.1604 27.5312C15.1397 27.5481 15.1098 27.5594 15.0809 27.5594H11.3493Z" fill="#253B80"/>
                    <path d="M24.4161 10.1953C24.3929 10.34 24.3664 10.4878 24.3366 10.6398C23.3124 15.7719 19.8085 17.5448 15.3334 17.5448H13.0549C12.5076 17.5448 12.0464 17.9327 11.9612 18.4596L10.7946 25.6806L10.4642 27.7274C10.4087 28.0733 10.682 28.3852 11.0396 28.3852H15.0809C15.5595 28.3852 15.966 28.0458 16.0413 27.5852L16.0811 27.3848L16.842 22.6721L16.8908 22.4135C16.9653 21.9513 17.3727 21.6119 17.8512 21.6119H18.4556C22.3711 21.6119 25.4362 20.0604 26.332 15.5707C26.7062 13.6951 26.5125 12.129 25.5223 11.0276C25.2225 10.6955 24.8508 10.42 24.4161 10.1953Z" fill="#179BD7"/>
                    <path d="M23.3448 9.77871C23.1883 9.73427 23.0268 9.69386 22.8612 9.6575C22.6948 9.62194 22.5243 9.59043 22.3487 9.56295C21.7344 9.46598 21.0613 9.41992 20.3401 9.41992H14.253C14.1031 9.41992 13.9607 9.45305 13.8332 9.51285C13.5525 9.64457 13.3439 9.90396 13.2934 10.2215L11.9984 18.2264L11.9612 18.4599C12.0465 17.9331 12.5076 17.5452 13.0549 17.5452H15.3335C19.8086 17.5452 23.3125 15.7714 24.3367 10.6401C24.3673 10.4882 24.393 10.3403 24.4161 10.1957C24.157 10.0615 23.8763 9.94679 23.5741 9.84901C23.4996 9.82477 23.4226 9.80134 23.3448 9.77871Z" fill="#222D65"/>
                    <path d="M13.2933 10.2214C13.3438 9.90384 13.5525 9.64444 13.8332 9.51354C13.9615 9.45374 14.1031 9.42061 14.2529 9.42061H20.3401C21.0612 9.42061 21.7344 9.46667 22.3487 9.56364C22.5242 9.59111 22.6948 9.62263 22.8612 9.65818C23.0268 9.69455 23.1883 9.73495 23.3447 9.77939C23.4226 9.80202 23.4996 9.82545 23.5749 9.84889C23.8771 9.94667 24.1578 10.0622 24.4169 10.1956C24.7216 8.29899 24.4145 7.00768 23.3638 5.83838C22.2055 4.55111 20.1149 4 17.4398 4H9.67352C9.12706 4 8.66092 4.38788 8.57647 4.91556L5.34164 24.9277C5.27789 25.3236 5.59086 25.6808 5.99987 25.6808H10.7946L11.9984 18.2263L13.2933 10.2214Z" fill="#253B80"/>
                    </svg>
                    p.label-title Paypal
                        span  (1.5% fee)
                    input(type="radio" name="payment" value="1" checked).toggler
                label.radio-item
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M31.3412 7.1531L23.0588 0.564867C22.8706 0.42369 22.6353 0.42369 22.4941 0.564867L14.2118 7.1531C14.0706 7.29428 13.9765 7.48251 14.0706 7.67075C14.1177 7.85898 14.3059 8.00016 14.4941 8.00016H15.4353V14.4472H14.8235C14.5412 14.4472 14.353 14.6355 14.353 14.9178V16.9413C14.353 17.2237 14.5412 17.4119 14.8235 17.4119H30.7294C31.0118 17.4119 31.2 17.2237 31.2 16.9413V14.9178C31.2 14.6355 31.0118 14.4472 30.7294 14.4472H30.1177V8.00016H31.0588C31.2471 8.00016 31.4353 7.85898 31.4824 7.67075C31.5765 7.48251 31.5294 7.29428 31.3412 7.1531ZM22.7765 1.5531L29.6941 7.05898H29.6471C26.8235 7.05898 18.7294 7.05898 15.8588 7.05898L22.7765 1.5531ZM24.3294 14.4472V8.00016H27.0118V14.4472H24.3294ZM18.5412 14.4472V8.00016H21.2235V14.4472H18.5412ZM22.1647 8.00016H23.3882V14.4472H22.1647V8.00016ZM16.3765 8.00016H17.6V14.4472H16.3765V8.00016ZM30.2588 16.4708H15.2941V15.3884H30.2588V16.4708ZM29.1765 14.4472H27.953V8.00016H29.1765V14.4472Z" fill="#C4C6CC"/>
                    <path d="M9.55298 14.683C9.36474 14.5419 9.12945 14.5419 8.98827 14.683L0.705917 21.2713C0.564741 21.4124 0.470623 21.6007 0.564741 21.7889C0.564741 21.9771 0.752976 22.1183 0.941211 22.1183H1.88239V28.5654H1.27062C0.98827 28.5654 0.800035 28.7536 0.800035 29.036V31.0595C0.800035 31.3419 0.98827 31.5301 1.27062 31.5301H17.1765C17.4589 31.5301 17.6471 31.3419 17.6471 31.0595V29.036C17.6471 28.7536 17.4589 28.5654 17.1765 28.5654H16.5647V22.1183H17.5059C17.6942 22.1183 17.8824 21.9771 17.9294 21.7889C17.9765 21.6007 17.9294 21.4124 17.7883 21.2713L9.55298 14.683ZM9.22357 15.6713L16.1883 21.1771H16.0942C-5.97644 21.1771 24.5647 21.1771 2.35298 21.1771H2.30592L9.22357 15.6713ZM10.7765 28.5654V22.1183H13.4589V28.5654H10.7765ZM4.98827 28.5654V22.1183H7.67062V28.5654H4.98827ZM8.6118 22.1183H9.83533V28.5654H8.6118V22.1183ZM2.82356 22.1183H4.04709V28.5654H2.82356V22.1183ZM16.753 30.5889H1.74121V29.5066H16.7059V30.5889H16.753ZM15.6236 28.5654H14.4V22.1183H15.6236V28.5654Z" fill="#0E86F4"/>
                    <path d="M27.0588 18.5408C26.9647 18.4467 26.8235 18.3525 26.6824 18.3525C26.5412 18.3525 26.4471 18.3996 26.353 18.4937L23.6235 21.5525C23.4353 21.7408 23.4824 22.0231 23.6706 22.2114C23.8588 22.3996 24.1412 22.3525 24.3294 22.1643L26.2118 19.9996V29.5055H19.3412C19.0588 29.5055 18.8706 29.6937 18.8706 29.9761C18.8706 30.2584 19.0588 30.4467 19.3412 30.4467H26.7294C27.0118 30.4467 27.2 30.2584 27.2 29.9761V20.0937L29.0824 22.2584C29.2706 22.4467 29.553 22.4937 29.7412 22.3055C29.9294 22.1172 29.9765 21.8349 29.7883 21.6467L27.0588 18.5408Z" fill="#0E86F4"/>
                    <path d="M4.047 16.5177C4.32936 16.5177 4.51759 16.3295 4.51759 16.0471V4.94123H12.6117L10.447 6.82359C10.2588 7.01182 10.2117 7.29418 10.3999 7.48241C10.5882 7.67065 10.8705 7.7177 11.0588 7.52947C11.0588 7.52947 14.1176 4.80006 14.1647 4.80006C14.2588 4.70594 14.3058 4.56476 14.3058 4.47065C14.3058 4.32947 14.2117 4.18829 14.1647 4.14123L11.0588 1.41182C10.8705 1.22359 10.5882 1.27065 10.3999 1.45888C10.2117 1.64712 10.2588 1.92947 10.447 2.1177L12.6117 4.00006H4.047C3.76465 4.00006 3.57642 4.18829 3.57642 4.47065V16.0942C3.57642 16.3295 3.76465 16.5177 4.047 16.5177Z" fill="#0E86F4"/>
                    <path d="M9.22347 20.423C10.1647 20.423 10.8705 19.6701 10.8705 18.776C10.8705 17.8348 10.1176 17.1289 9.22347 17.1289C8.32936 17.1289 7.57642 17.8818 7.57642 18.776C7.57642 19.6701 8.32936 20.423 9.22347 20.423ZM9.22347 18.023C9.59995 18.023 9.92936 18.3524 9.92936 18.7289C9.92936 19.1054 9.59995 19.4348 9.22347 19.4348C8.847 19.4348 8.51759 19.1054 8.51759 18.7289C8.51759 18.3524 8.847 18.023 9.22347 18.023Z" fill="#0E86F4"/>
                    <path d="M22.7764 6.35271C23.7176 6.35271 24.4235 5.59977 24.4235 4.70565C24.4235 3.76448 23.6705 3.05859 22.7764 3.05859C21.8823 3.05859 21.0823 3.76448 21.0823 4.65859C21.0823 5.59977 21.8352 6.35271 22.7764 6.35271ZM22.7764 3.95271C23.1529 3.95271 23.4823 4.28212 23.4823 4.65859C23.4823 5.03506 23.1529 5.36448 22.7764 5.36448C22.3999 5.36448 22.0705 5.03506 22.0705 4.65859C22.0705 4.28212 22.3529 3.95271 22.7764 3.95271Z" fill="#C4C6CC"/>
                    </svg>
                    p.label-title Bank transfer
                    input(type="radio" name="payment" value="2").toggler

            .carddata.payment-content#payment-1
                form.main-form(action="")
                    p.desc If you deposit via Paypal, your wallet will be credited in real time, but there will be a payment fee of 1.5%. The minimum amount per charge is 15 €.
                    .prices
                        label.price-label
                            input(type="radio" name="price" value="100")
                            span.price-input 100 €
                        label.price-label
                            input(type="radio" name="price" value="250" checked)
                            span.price-input 250 €
                        label.price-label
                            input(type="radio" name="price" value="500")
                            span.price-input 500 €
                        br
                        label.price-label
                            input(type="radio" name="price" value="697")
                            span.price-input 697 €
                                i.desc-icon
                                    .desc-info
                                        h3 Deposit
                                        p Please note that only transfers with the subject line below this disclaimer allow an automated matching. Deposits without this subject are transferred back to your bank account.
                        label.price-label
                            input(type="radio" name="price" value="0")
                            span.price-input Free value
                        label.price-label.custom-price#custom-price
                            input.price-input(type="number" name="custom-price" value="" placeholder="125.00")

                    .main-form__footer
                        p Amount less fees:
                            span#amount 246.25
                            span €
                    .main-form__btn
                        button.btn.-blue(type="submit") Charge wallet
                        p I accept the <a href="#">Terms and Conditions</a>, <a href="#">Right of withdrawal</a> and <a href="#">Privacy Policy</a>.

            .carddata.payment-content.d-none#payment-2
                .desc You may deposit money into your wallet via bank transfers.
                        i.desc-icon
                            .desc-info
                                h3 Deposit
                                p You may deposit money into your wallet via bank transfers. The transferred balance will be visible in your wallet once we receive the deposit in our account. It usually takes between 24 to 48 hours to complete the transaction. Please note that only transfers with the subject line below this disclaimer allow an automated matching. Deposits without this subject are transferred back to your bank account.

                .desc
                   p Receiver: Printegy GmbH
                   p IBAN: DE10 3707 0024 0397 3385 03
                   p BIC: DEUTDEDBKOE
                   p Reference:
                       strong  DEPOSIT-61C29D73

                .carddata__footer
                    div You may withdraw balance back to your bank account.
                        i.desc-icon
                            .desc-info
                                h3 Withdraw
                                p You may withdraw any balance from your wallet back to your bank account free of charge. Please contact the customer support to request a payout



        .billinginfo__doubleblock.outstanding__balance
            .billinginfo__block
                <svg class="icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1643_7187)">
                <path d="M32.0002 30.6667C32.0002 31.0203 31.8597 31.3595 31.6097 31.6095C31.3596 31.8596 31.0205 32.0001 30.6668 32.0001H1.33353C0.979906 32.0001 0.640768 31.8596 0.39072 31.6095C0.140671 31.3595 0.000195591 31.0203 0.000195591 30.6667C0.000195591 30.3131 0.140671 29.974 0.39072 29.7239C0.640768 29.4739 0.979906 29.3334 1.33353 29.3334H30.6668C31.0205 29.3334 31.3596 29.4739 31.6097 29.7239C31.8597 29.974 32.0002 30.3131 32.0002 30.6667ZM0.388195 11.4027C0.100892 10.8698 -0.0322115 10.2674 0.00382282 9.66307C0.0398572 9.05873 0.243603 8.47639 0.592195 7.9814C1.16187 7.14556 1.92479 6.45948 2.81619 5.9814L12.8175 0.776073C13.8005 0.264915 14.8922 -0.00195313 16.0002 -0.00195312C17.1082 -0.00195313 18.1998 0.264915 19.1828 0.776073L29.1828 5.9854C30.0742 6.46348 30.8372 7.14956 31.4068 7.9854C31.7554 8.48039 31.9592 9.06273 31.9952 9.66707C32.0312 10.2714 31.8981 10.8738 31.6108 11.4067C31.3015 11.9918 30.8376 12.4809 30.2696 12.8206C29.7016 13.1603 29.0513 13.3377 28.3895 13.3334H28.0002V24.0001H29.3335C29.6871 24.0001 30.0263 24.1405 30.2763 24.3906C30.5264 24.6406 30.6668 24.9798 30.6668 25.3334C30.6668 25.687 30.5264 26.0262 30.2763 26.2762C30.0263 26.5262 29.6871 26.6667 29.3335 26.6667H2.66686C2.31324 26.6667 1.9741 26.5262 1.72405 26.2762C1.474 26.0262 1.33353 25.687 1.33353 25.3334C1.33353 24.9798 1.474 24.6406 1.72405 24.3906C1.9741 24.1405 2.31324 24.0001 2.66686 24.0001H4.00019V13.3334H3.61086C2.94841 13.3375 2.29754 13.1597 1.72925 12.8192C1.16096 12.4788 0.697073 11.9888 0.388195 11.4027ZM6.66686 24.0001H10.6669V13.3334H6.66686V24.0001ZM13.3335 13.3334V24.0001H18.6668V13.3334H13.3335ZM25.3335 13.3334H21.3335V24.0001H25.3335V13.3334ZM2.75086 10.1667C2.83452 10.321 2.95901 10.4492 3.1107 10.5374C3.26239 10.6256 3.43543 10.6703 3.61086 10.6667H28.3895C28.5649 10.6703 28.738 10.6256 28.8897 10.5374C29.0414 10.4492 29.1659 10.321 29.2495 10.1667C29.3104 10.0648 29.3399 9.94717 29.3342 9.82857C29.3285 9.70996 29.2879 9.59568 29.2175 9.50007C28.8945 9.01995 28.4604 8.62479 27.9522 8.34807L17.9522 3.13874C17.3495 2.82597 16.6805 2.6627 16.0015 2.6627C15.3225 2.6627 14.6535 2.82597 14.0509 3.13874L4.05086 8.34807C3.54284 8.62568 3.1089 9.02121 2.78553 9.5014C2.71498 9.59661 2.67406 9.7105 2.6679 9.82884C2.66173 9.94718 2.69059 10.0647 2.75086 10.1667Z" fill="#ED0A34"/>
                </g>
                <defs>
                <clipPath id="clip0_1643_7187">
                <rect width="32" height="32" fill="white"/>
                </clipPath>
                </defs>
                </svg>
                .__value €99.25
                .__name You owe by today
            .description__block 
                .__title Outstanding Balance
                p.__desc.stm12 Amont of money that you owe us (since your last billing circle) for fulfilling & shipping your orders

    .paymentspage__headblock.flex-c-b
        h2.title Payment history
        .__filtersblock.flex-c-b
            .cselect#contacts-theme.dr__el
                select#contacts-select-theme(name="limit" style="display:none")
                    option(value='20')
                    option(value='50')
                    option(value='100')
                .__title.dr__el-btn(data-prefix="Show") Show
                    span 20 products
                .__content.dr__el-block
                    div(data-value="20").cselect__label
                        span 20 products
                    div(data-value="50").cselect__label
                        span 50 products
                    div(data-value="100").cselect__label
                        span 100 products
            .cselect#contacts-theme-second.dr__el
                select#contacts-select-status(name="status" style="display:none")
                    option(value='All')
                        option(value='Shipped')
                        option(value='Cancelled')
                        option(value='Paid')
                .__title.dr__el-btn All Statuses
                .__content.dr__el-block
                    div(data-value="all").cselect__label
                        span All Statuses
                    div(data-value="shipped").cselect__label
                        span Shipped
                    div(data-value="cancelled").cselect__label
                        span Cancelled
                    div(data-value="paid").cselect__label
                        span Paid
    .paymentspage__table
        table
            thead
                tr
                    th.order__id ID
                    th.order__shop Shop
                    th.order__approved Approved
                    th.order__type Type
                    th.order__prodiver Provider
                    th.order__amount Amount
                    th.order__order Order
                    th.order__data Date
                    th.order__pdf PDF
            tbody
                +paymenttable__item('69358', 'Yes', 'done', 'Payment', 'Credit', '€2490.00', '9000', '05.02.2022')
                +paymenttable__item('69358', 'Yes', 'done', 'Invoice', 'Refund', '€2490.00', '9000', '05.02.2022')
                +paymenttable__item('69358', 'Yes', 'done', 'Invoice', 'PayPal', '€2490.00', '9000', '05.02.2022')
                +paymenttable__item('69358', 'No', 'error', 'Payment', 'Stripe', '€2490.00', '9000', '05.02.2022')
                +paymenttable__item('69358', 'Yes', 'done', 'Dropshipping', 'Stripe', '€2490.00', '9000', '05.02.2022')

        +pagination

block scripts
    script(src="js/dashboardproducts.js")
    script(src="js/just-validate.production.min.js")
    script(src="js/select.js")