extends core/_template

block title
	title Coming soon

block body
	body.coming-soon

block content
	.main
		.main__header
			.main__content-top
				img(src="./img/main-logo.svg" width="114" height="24" alt="").main__logo
				.main__lang
					include blocks/language-drop
			p Printegy is Print-on-Demand-Dropshipping service with direct integration and fast shipping

		.main__body
			h1.main__content-title Coming Soon
			p Printegy is currently not supported on mobile and tablets, you can experience it on your browser
			ul
				li
					a(href="")
						<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M6.00037 0C4.37087 0 4.16637 0.00712511 3.52637 0.0362501C2.88762 0.0655001 2.45162 0.166625 2.07012 0.315C1.6755 0.46825 1.34075 0.67325 1.00725 1.00688C0.6735 1.34037 0.4685 1.67512 0.31475 2.06962C0.166 2.45125 0.06475 2.88738 0.036 3.52587C0.00750001 4.16587 0 4.3705 0 6C0 7.6295 0.00725011 7.83338 0.0362501 8.47338C0.0656251 9.11213 0.16675 9.54812 0.315 9.92962C0.468375 10.3242 0.673375 10.659 1.007 10.9925C1.34037 11.3263 1.67512 11.5318 2.0695 11.685C2.45125 11.8334 2.88737 11.9345 3.526 11.9637C4.166 11.9929 4.37038 12 5.99975 12C7.62937 12 7.83325 11.9929 8.47325 11.9637C9.112 11.9345 9.5485 11.8334 9.93025 11.685C10.3248 11.5318 10.659 11.3263 10.9924 10.9925C11.3261 10.659 11.5311 10.3242 11.6849 9.92975C11.8324 9.54812 11.9336 9.112 11.9636 8.4735C11.9924 7.8335 11.9999 7.6295 11.9999 6C11.9999 4.3705 11.9924 4.166 11.9636 3.526C11.9336 2.88725 11.8324 2.45125 11.6849 2.06975C11.5311 1.67512 11.3261 1.34037 10.9924 1.00688C10.6586 0.673125 10.3249 0.468125 9.92987 0.315C9.54737 0.166625 9.11112 0.0655001 8.47237 0.0362501C7.83238 0.00712511 7.62862 0 5.99862 0H6.00037ZM5.46212 1.08125C5.62187 1.081 5.80012 1.08125 6.00037 1.08125C7.60237 1.08125 7.79225 1.087 8.42487 1.11575C9.00987 1.1425 9.32737 1.24025 9.53887 1.32237C9.81887 1.43112 10.0185 1.56113 10.2284 1.77113C10.4384 1.98112 10.5684 2.18112 10.6774 2.46112C10.7595 2.67237 10.8574 2.98987 10.884 3.57487C10.9127 4.20737 10.919 4.39737 10.919 5.99862C10.919 7.59987 10.9127 7.78987 10.884 8.42237C10.8572 9.00737 10.7595 9.32487 10.6774 9.53612C10.5686 9.81612 10.4384 10.0155 10.2284 10.2254C10.0184 10.4354 9.819 10.5654 9.53887 10.6741C9.32762 10.7566 9.00987 10.8541 8.42487 10.8809C7.79237 10.9096 7.60237 10.9159 6.00037 10.9159C4.39825 10.9159 4.20837 10.9096 3.57587 10.8809C2.99087 10.8539 2.67337 10.7561 2.46175 10.674C2.18175 10.5652 1.98175 10.4352 1.77175 10.2252C1.56175 10.0152 1.43175 9.81575 1.32275 9.53563C1.24063 9.32438 1.14275 9.00687 1.11613 8.42187C1.08738 7.78937 1.08162 7.59937 1.08162 5.99712C1.08162 4.39487 1.08738 4.20588 1.11613 3.57338C1.14288 2.98838 1.24063 2.67087 1.32275 2.45937C1.4315 2.17937 1.56175 1.97937 1.77175 1.76937C1.98175 1.55937 2.18175 1.42937 2.46175 1.32037C2.67325 1.23787 2.99087 1.14038 3.57587 1.1135C4.12937 1.0885 4.34387 1.081 5.46212 1.07975V1.08125ZM9.20312 2.0775C9.06071 2.0775 8.9215 2.11973 8.80309 2.19886C8.68468 2.27798 8.59239 2.39045 8.53791 2.52203C8.48342 2.6536 8.46918 2.79838 8.49698 2.93806C8.52478 3.07773 8.59338 3.20602 8.6941 3.30671C8.79481 3.40739 8.92313 3.47594 9.06281 3.5037C9.2025 3.53145 9.34727 3.51715 9.47883 3.46262C9.61039 3.40809 9.72282 3.31576 9.8019 3.19733C9.88099 3.07889 9.92317 2.93966 9.92312 2.79725C9.92312 2.39975 9.60062 2.07725 9.20312 2.07725V2.0775ZM6.00037 2.91875C4.29875 2.91875 2.91912 4.29838 2.91912 6C2.91912 7.70162 4.29875 9.08062 6.00037 9.08062C7.702 9.08062 9.08125 7.70162 9.08125 6C9.08125 4.29838 7.70187 2.91875 6.00025 2.91875H6.00037ZM6.00037 4C7.10487 4 8.00037 4.89538 8.00037 6C8.00037 7.1045 7.10487 8 6.00037 8C4.89575 8 4.00037 7.1045 4.00037 6C4.00037 4.89538 4.89575 4 6.00037 4V4Z" fill="#19191A"/>
						</svg>

				li
					a(href="")
						<svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7.24999 2.83047e-05V2.50003H5C4.72501 2.50003 4.5 2.72503 4.5 3.00002V4.50003H7V7.00003H4.5V12H2V7H0V4.5H2V2.99999C2 1.42499 3.19999 0.125006 4.74999 0H7.24999V2.83047e-05Z" fill="#19191A"/>
						</svg>

				li
					a(href="")
						<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M1.44869 0.103516C2.23487 0.103516 2.89691 0.765552 2.89691 1.55173C2.89691 2.37928 2.19348 3.02064 1.44869 2.99995C0.683204 3.02064 0.000472332 2.37928 0.000472332 1.55173C-0.0202222 0.744858 0.641838 0.103516 1.44869 0.103516Z" fill="#19191A"/>
						<path d="M2.25553 11.8963H0.600418C0.372849 11.8963 0.186646 11.7101 0.186646 11.4825V4.24141C0.186646 4.01384 0.352155 3.82764 0.579724 3.82764H2.25551C2.48308 3.82764 2.66928 4.01384 2.66928 4.24141V11.5032C2.66931 11.7101 2.4831 11.8963 2.25553 11.8963Z" fill="#19191A"/>
						<path d="M11.979 6.35153C11.979 4.82056 10.8411 3.62061 9.31012 3.62061H8.87566C8.04811 3.62061 7.24124 4.01368 6.80677 4.65505C6.66196 4.79986 6.59987 4.86195 6.59987 4.86195V4.0344C6.59987 3.95165 6.47573 3.8275 6.39297 3.8275H4.32409C4.24133 3.8275 4.11719 3.91026 4.11719 4.01371V11.7306C4.11719 11.8134 4.24133 11.8962 4.32409 11.8962H6.59985C6.6826 11.8962 6.80675 11.8134 6.80675 11.7306V7.26183C6.80675 6.49634 7.38603 5.85498 8.15151 5.83431C8.54459 5.83431 8.89631 5.97912 9.16526 6.24808C9.41353 6.49634 9.51698 6.84806 9.51698 7.24114V11.6892C9.51698 11.772 9.64112 11.8961 9.72387 11.8961H11.7928C11.8755 11.8961 11.9997 11.772 11.9997 11.6892V6.35153H11.979Z" fill="#19191A"/>
						</svg>

				li
					a(href="")
						<svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
						<g clip-path="url(#clip0_4737_27032)">
						<path d="M9.32573 4.7734C8.0421 4.08743 6.813 3.45678 5.55664 2.79834V6.7373C6.87872 6.0186 8.27223 5.36042 9.33119 4.7734H9.32573V4.7734Z" fill="#E0E1E6"/>
						<path d="M9.32573 4.7734C8.0421 4.08743 5.55664 2.79834 5.55664 2.79834L8.87041 5.02561C8.87067 5.02561 8.26677 5.36042 9.32573 4.7734Z" fill="#E0E1E6"/>
						<path d="M5.79815 9.82075C3.13192 9.77166 2.22127 9.7275 1.66153 9.61218C1.28283 9.53555 0.953738 9.36542 0.712439 9.11867C0.525945 8.93192 0.377634 8.64698 0.262569 8.25166C0.163867 7.92231 0.125426 7.64828 0.0706207 6.97893C-0.0132755 5.46828 -0.0332755 4.23322 0.0706207 2.85322C0.156335 2.09114 0.197893 1.18646 0.767244 0.65867C1.03608 0.411657 1.3488 0.252696 1.69997 0.186982C2.24854 0.0828261 4.58569 0.000488281 7.00517 0.000488281C9.41919 0.000488281 11.7615 0.0828261 12.3106 0.186982C12.7493 0.26932 13.1608 0.516072 13.4023 0.834254C13.9218 1.6514 13.9309 2.6675 13.9836 3.46231C14.0054 3.84101 14.0054 5.9914 13.9836 6.3701C13.9015 7.6262 13.8356 8.07062 13.6491 8.5314C13.5337 8.82231 13.4353 8.97581 13.2649 9.14594C12.9977 9.40775 12.657 9.58189 12.2883 9.64516C9.98101 9.81867 8.02179 9.85633 5.79815 9.82075V9.82075ZM9.3314 4.77348C8.04776 4.0875 6.81867 3.4514 5.56231 2.79296V6.73218C6.88439 6.01348 8.27815 5.35503 9.33685 4.76802L9.3314 4.77348Z" fill="#19191A"/>
						</g>
						<defs>
						<clipPath id="clip0_4737_27032">
						<rect width="14" height="9.8336" fill="white"/>
						</clipPath>
						</defs>
						</svg>

		.main__img
			img(src="./img/MacBook.png")







