extends core/_dashboard-products
include mixins/item

block title
	title dashboard-products-main-filled

block products
	.items__block.items__block-tile
		+item__block-ph
		+item__block-ph
		+item__block-ph
		+item__block-ph
		+item__block-ph
		+item__block-ph
		+item__block
		+item__block
		+item__block
		+item__block
		+item__block
		+item__block