extends core/_dashboard-products
include mixins/item

block title
	title dashboard-products-main-grid

block products
	.items__block.items__block-grid
		+item__block-grid-ph
		+item__block-grid-ph
		+item__block-grid-ph
		+item__block-grid-ph
		+item__block-grid-ph
		+item__block-grid-ph
		+item__block
		+item__block
		+item__block
		+item__block
		+item__block
		+item__block