extends core/_dashboard-template-thirststep
include mixins/smallbtn

block title
    title Главная

block sideblock
    include content/sidebar-price

block notify
    .notify.notify.active
        <svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z" stroke="#DBAF3E" stroke-width="1.5" stroke-miterlimit="10"/>
        <path d="M10 6.25V10.625" stroke="#DBAF3E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M10 14.375C10.5178 14.375 10.9375 13.9553 10.9375 13.4375C10.9375 12.9197 10.5178 12.5 10 12.5C9.48223 12.5 9.0625 12.9197 9.0625 13.4375C9.0625 13.9553 9.48223 14.375 10 14.375Z" fill="#DBAF3E"/>
        </svg>
        p.text Please select at least one option for “Size”!
    .notify.error.active
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M10 17.5C14.1421 17.5 17.5 14.1421 17.5 10C17.5 5.85786 14.1421 2.5 10 2.5C5.85786 2.5 2.5 5.85786 2.5 10C2.5 14.1421 5.85786 17.5 10 17.5Z" stroke="#ED0A34" stroke-width="1.5" stroke-miterlimit="10"/>
        <path d="M10 6.25V10.625" stroke="#ED0A34" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M10 14.375C10.5178 14.375 10.9375 13.9553 10.9375 13.4375C10.9375 12.9197 10.5178 12.5 10 12.5C9.48223 12.5 9.0625 12.9197 9.0625 13.4375C9.0625 13.9553 9.48223 14.375 10 14.375Z" fill="#ED0A34"/>
        </svg>
        p.text Please select at least one option for “Size”!

block overlays
    .overlays
        .overlay__table
        .overlay__notify
        .warningmodal__wrapper
            .__modal
                .head.flex-c-b
                    h2.title Quit confirmation
                    <svg class="crs icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.8045 0.195191C15.6795 0.0702103 15.51 0 15.3332 0C15.1564 0 14.9869 0.0702103 14.8619 0.195191L7.99986 7.05719L1.13786 0.195191C1.01284 0.0702103 0.8433 0 0.666524 0C0.489748 0 0.320209 0.0702103 0.195191 0.195191C0.0702103 0.320209 0 0.489748 0 0.666524C0 0.8433 0.0702103 1.01284 0.195191 1.13786L7.05719 7.99986L0.195191 14.8619C0.0702103 14.9869 0 15.1564 0 15.3332C0 15.51 0.0702103 15.6795 0.195191 15.8045C0.320209 15.9295 0.489748 15.9997 0.666524 15.9997C0.8433 15.9997 1.01284 15.9295 1.13786 15.8045L7.99986 8.94252L14.8619 15.8045C14.9869 15.9295 15.1564 15.9997 15.3332 15.9997C15.51 15.9997 15.6795 15.9295 15.8045 15.8045C15.9295 15.6795 15.9997 15.51 15.9997 15.3332C15.9997 15.1564 15.9295 14.9869 15.8045 14.8619L8.94252 7.99986L15.8045 1.13786C15.9295 1.01284 15.9997 0.8433 15.9997 0.666524C15.9997 0.489748 15.9295 0.320209 15.8045 0.195191Z" fill="#AAADB3"/>
                    </svg>
                .warning__noty.stm
                    p.title Do you really want to discard your changes?
                    .btns.flex-c.stm16
                        button(type="button").btn.-warning.-wide Discard changes
                        .btn-cancel Cancel