extends core/_dashboard-template-thirststep
include mixins/smallbtn

block title
    title Mockups

block sideblock
    include content/sidebar-mockups

block mainimg
    .mainimg-block.--big
        img(src="./img/design-354d.jpg" width="640" height="580" alt="")
        button.mockup-preview Mockup Preview

block overlays
    .overlays
        .overlay__table
        .overlay__notify
        .warningmodal__wrapper
            .__modal
                .head.flex-c-b
                    h2.title Quit confirmation
                    <svg class="crs icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.8045 0.195191C15.6795 0.0702103 15.51 0 15.3332 0C15.1564 0 14.9869 0.0702103 14.8619 0.195191L7.99986 7.05719L1.13786 0.195191C1.01284 0.0702103 0.8433 0 0.666524 0C0.489748 0 0.320209 0.0702103 0.195191 0.195191C0.0702103 0.320209 0 0.489748 0 0.666524C0 0.8433 0.0702103 1.01284 0.195191 1.13786L7.05719 7.99986L0.195191 14.8619C0.0702103 14.9869 0 15.1564 0 15.3332C0 15.51 0.0702103 15.6795 0.195191 15.8045C0.320209 15.9295 0.489748 15.9997 0.666524 15.9997C0.8433 15.9997 1.01284 15.9295 1.13786 15.8045L7.99986 8.94252L14.8619 15.8045C14.9869 15.9295 15.1564 15.9997 15.3332 15.9997C15.51 15.9997 15.6795 15.9295 15.8045 15.8045C15.9295 15.6795 15.9997 15.51 15.9997 15.3332C15.9997 15.1564 15.9295 14.9869 15.8045 14.8619L8.94252 7.99986L15.8045 1.13786C15.9295 1.01284 15.9997 0.8433 15.9997 0.666524C15.9997 0.489748 15.9295 0.320209 15.8045 0.195191Z" fill="#AAADB3"/>
                    </svg>
                .warning__noty.stm
                    p.title Do you really want to discard your changes?
                    .btns.flex-c.stm16
                        button(type="button").btn.-warning.-wide Discard changes
                        .btn-cancel Cancel
    .overlay#edit-modal
        .overlay__notify
        .warningmodal__wrapper
            .__modal
                .head.flex-c-b
                    h2.title Edit your design
                    .crs(data-modal='edit-modal')
                        <svg class="icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.8045 0.195191C15.6795 0.0702103 15.51 0 15.3332 0C15.1564 0 14.9869 0.0702103 14.8619 0.195191L7.99986 7.05719L1.13786 0.195191C1.01284 0.0702103 0.8433 0 0.666524 0C0.489748 0 0.320209 0.0702103 0.195191 0.195191C0.0702103 0.320209 0 0.489748 0 0.666524C0 0.8433 0.0702103 1.01284 0.195191 1.13786L7.05719 7.99986L0.195191 14.8619C0.0702103 14.9869 0 15.1564 0 15.3332C0 15.51 0.0702103 15.6795 0.195191 15.8045C0.320209 15.9295 0.489748 15.9997 0.666524 15.9997C0.8433 15.9997 1.01284 15.9295 1.13786 15.8045L7.99986 8.94252L14.8619 15.8045C14.9869 15.9295 15.1564 15.9997 15.3332 15.9997C15.51 15.9997 15.6795 15.9295 15.8045 15.8045C15.9295 15.6795 15.9997 15.51 15.9997 15.3332C15.9997 15.1564 15.9295 14.9869 15.8045 14.8619L8.94252 7.99986L15.8045 1.13786C15.9295 1.01284 15.9997 0.8433 15.9997 0.666524C15.9997 0.489748 15.9295 0.320209 15.8045 0.195191Z" fill="#AAADB3"/>
                        </svg>
                .editdesign__popup
                    .__form
                        form(action="/" method="post")
                            .main-form__line
                                input.main-form__input.fields-counter#reg_form_name(data-counter="counter-title" name="title" type="text" placeholder="Write your design title" data-help="short_message_counter" maxlength="30" required)
                                label.main-form__lable(for="reg_form_name") Design title*
                                .branding-card__count#counter-title 0/30
                            .main-form__line
                                textarea#short_message(placeholder="Placeholder" maxlength="300" name="message" data-counter="counter-message" required).branding-card__textarea.main-form__input.fields-counter
                                label(for="short_message").branding-card__label Description*
                                .branding-card__count#counter-message 0/300
                            .btns.flex-co
                                button(type="submit").btn.-blue Save changes
                                .btn-cancel Cancel