extends core/_dashboard-template


block title
    title Products

block content
    .dashboardproduct__status__wrapper
        .dashboardproduct__status.progress
            img(src="./img/progressimg.png" width="452" height="374" alt="")
            .progress__bar
                .__line.slide-right
            h1.__title Publish in progress
            p.__desc Stay calm, it usually takes not more than 2 minutes