extends core/_dashboard-products

block title
    title dashboard-products-main-grid

block products
    .no__product
        .__info
            <svg class="icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_2000_8383)">
            <path d="M9.33333 0H5.33333C3.91885 0 2.56229 0.561903 1.5621 1.5621C0.561903 2.56229 0 3.91885 0 5.33333L0 9.33333C0 10.7478 0.561903 12.1044 1.5621 13.1046C2.56229 14.1048 3.91885 14.6667 5.33333 14.6667H9.33333C10.7478 14.6667 12.1044 14.1048 13.1046 13.1046C14.1048 12.1044 14.6667 10.7478 14.6667 9.33333V5.33333C14.6667 3.91885 14.1048 2.56229 13.1046 1.5621C12.1044 0.561903 10.7478 0 9.33333 0V0ZM12 9.33333C12 10.0406 11.719 10.7189 11.219 11.219C10.7189 11.719 10.0406 12 9.33333 12H5.33333C4.62609 12 3.94781 11.719 3.44772 11.219C2.94762 10.7189 2.66667 10.0406 2.66667 9.33333V5.33333C2.66667 4.62609 2.94762 3.94781 3.44772 3.44772C3.94781 2.94762 4.62609 2.66667 5.33333 2.66667H9.33333C10.0406 2.66667 10.7189 2.94762 11.219 3.44772C11.719 3.94781 12 4.62609 12 5.33333V9.33333Z" fill="#C4C6CC"/>
            <path d="M9.33334 17.3335H5.33334C3.91885 17.3335 2.56229 17.8954 1.5621 18.8956C0.561903 19.8958 0 21.2523 0 22.6668L0 26.6668C0 28.0813 0.561903 29.4379 1.5621 30.4381C2.56229 31.4383 3.91885 32.0002 5.33334 32.0002H9.33334C10.7478 32.0002 12.1044 31.4383 13.1046 30.4381C14.1048 29.4379 14.6667 28.0813 14.6667 26.6668V22.6668C14.6667 21.2523 14.1048 19.8958 13.1046 18.8956C12.1044 17.8954 10.7478 17.3335 9.33334 17.3335ZM12 26.6668C12 27.3741 11.7191 28.0524 11.219 28.5525C10.7189 29.0526 10.0406 29.3335 9.33334 29.3335H5.33334C4.62609 29.3335 3.94781 29.0526 3.44772 28.5525C2.94762 28.0524 2.66667 27.3741 2.66667 26.6668V22.6668C2.66667 21.9596 2.94762 21.2813 3.44772 20.7812C3.94781 20.2811 4.62609 20.0002 5.33334 20.0002H9.33334C10.0406 20.0002 10.7189 20.2811 11.219 20.7812C11.7191 21.2813 12 21.9596 12 22.6668V26.6668Z" fill="#C4C6CC"/>
            <path d="M26.6668 17.3335H22.6668C21.2523 17.3335 19.8958 17.8954 18.8956 18.8956C17.8954 19.8958 17.3335 21.2523 17.3335 22.6668V26.6668C17.3335 28.0813 17.8954 29.4379 18.8956 30.4381C19.8958 31.4383 21.2523 32.0002 22.6668 32.0002H26.6668C28.0813 32.0002 29.4379 31.4383 30.4381 30.4381C31.4383 29.4379 32.0002 28.0813 32.0002 26.6668V22.6668C32.0002 21.2523 31.4383 19.8958 30.4381 18.8956C29.4379 17.8954 28.0813 17.3335 26.6668 17.3335ZM29.3335 26.6668C29.3335 27.3741 29.0526 28.0524 28.5525 28.5525C28.0524 29.0526 27.3741 29.3335 26.6668 29.3335H22.6668C21.9596 29.3335 21.2813 29.0526 20.7812 28.5525C20.2811 28.0524 20.0002 27.3741 20.0002 26.6668V22.6668C20.0002 21.9596 20.2811 21.2813 20.7812 20.7812C21.2813 20.2811 21.9596 20.0002 22.6668 20.0002H26.6668C27.3741 20.0002 28.0524 20.2811 28.5525 20.7812C29.0526 21.2813 29.3335 21.9596 29.3335 22.6668V26.6668Z" fill="#C4C6CC"/>
            <path d="M18.6668 9.33317H29.3335C29.6871 9.33317 30.0263 9.1927 30.2763 8.94265C30.5264 8.6926 30.6668 8.35346 30.6668 7.99984C30.6668 7.64622 30.5264 7.30708 30.2763 7.05703C30.0263 6.80698 29.6871 6.6665 29.3335 6.6665H18.6668C18.3132 6.6665 17.9741 6.80698 17.724 7.05703C17.474 7.30708 17.3335 7.64622 17.3335 7.99984C17.3335 8.35346 17.474 8.6926 17.724 8.94265C17.9741 9.1927 18.3132 9.33317 18.6668 9.33317Z" fill="#C4C6CC"/>
            </g>
            <defs>
            <clipPath id="clip0_2000_8383">
            <rect width="32" height="32" fill="white"/>
            </clipPath>
            </defs>
            </svg>
            .info__text No products added.