extends core/_dashboard-template
include mixins/popupdesignitem

block title
    title Designs

block content
    .dashboard__products-head
        h1.dashboard__title Designs
        .inputwpic.designpage
            input(type="text" placeholder="Search design").branding-card__input
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.8534 11.1464L8.8689 8.1619C9.68221 7.16719 10.0821 5.89794 9.98582 4.61667C9.88955 3.33541 9.3045 2.14016 8.35169 1.27815C7.39887 0.416146 6.15119 -0.0466629 4.86671 -0.014547C3.58224 0.0175689 2.35924 0.542153 1.4507 1.4507C0.542153 2.35924 0.0175689 3.58224 -0.014547 4.86671C-0.0466629 6.15119 0.416146 7.39887 1.27815 8.35169C2.14016 9.3045 3.33541 9.88955 4.61667 9.98582C5.89794 10.0821 7.16719 9.68221 8.1619 8.8689L11.1464 11.8534C11.2407 11.9445 11.367 11.9949 11.4981 11.9937C11.6292 11.9926 11.7546 11.94 11.8473 11.8473C11.94 11.7546 11.9926 11.6292 11.9937 11.4981C11.9949 11.367 11.9445 11.2407 11.8534 11.1464ZM4.99989 8.9999C4.20877 8.9999 3.43541 8.7653 2.77761 8.32577C2.11981 7.88625 1.60712 7.26153 1.30437 6.53063C1.00162 5.79972 0.922409 4.99546 1.07675 4.21953C1.23109 3.44361 1.61205 2.73088 2.17146 2.17146C2.73088 1.61205 3.44361 1.23109 4.21953 1.07675C4.99546 0.922409 5.79972 1.00162 6.53063 1.30437C7.26153 1.60712 7.88625 2.11981 8.32577 2.77761C8.7653 3.43541 8.9999 4.20877 8.9999 4.99989C8.99871 6.06039 8.57689 7.07712 7.82701 7.82701C7.07712 8.57689 6.06039 8.99871 4.99989 8.9999Z" fill="#8F9297"/>
            </svg>

    .dashboard__product__popup-contentwrapper.designpage
        form(action="/").branding__form
            .dashboard__product__popup-content
                .__design__grid
                    +item__design-popup("./img/designimg1.png")
                    +item__design-popup("./img/designimg2.png") 
                    +item__design-popup("./img/designimg3.png") 
                    +item__design-popup("./img/designimg4.png") 
                    +item__design-popup("./img/designimg5.png") 
                    +item__design-popup("./img/designimg6.png") 
                    +item__design-popup("./img/designimg7.png") 
                    +item__design-popup("./img/designimg8.png") 
                    +item__design-popup("./img/designimg9.png") 
                    +item__design-popup("./img/designimg1.png")
                    +item__design-popup("./img/designimg2.png") 
                .__design__sidemenu
                    .dz#dz
                        .dz__area
                            input(type="file" accept="image/*").dz__input#inputFile
                            .dz__area-content
                                .dz__icon 
                                .dz__btn Add Image
                                .dz__note or drop images to upload
                                .dz__note.recommended Recommended size: 6000 x 6000 px Image formats: JPG, JPEG, PNG, GIF, WEBP
                            .dz__area-pic
                                img(src="", alt="")#inputPreview.dz__area-pic-img
                        .dz__info
                            .dz__info-name#inputFileName
                            .dz__info-link Choose another file
                    .main-form__line
                        label.main-form__lable(for="reg_form_name") Design title*
                        input.main-form__input#reg_form_name(type="text" placeholder="Write your design title")
                    button(type="submit").btn.-blue.-medium Add design



block overlays

    .overlay__notify.active
    .warningmodal__wrapper.active
        .__modal
            .head.flex-c-b
                h2.title Edit your design
                .crs
                    <svg class="icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.8045 0.195191C15.6795 0.0702103 15.51 0 15.3332 0C15.1564 0 14.9869 0.0702103 14.8619 0.195191L7.99986 7.05719L1.13786 0.195191C1.01284 0.0702103 0.8433 0 0.666524 0C0.489748 0 0.320209 0.0702103 0.195191 0.195191C0.0702103 0.320209 0 0.489748 0 0.666524C0 0.8433 0.0702103 1.01284 0.195191 1.13786L7.05719 7.99986L0.195191 14.8619C0.0702103 14.9869 0 15.1564 0 15.3332C0 15.51 0.0702103 15.6795 0.195191 15.8045C0.320209 15.9295 0.489748 15.9997 0.666524 15.9997C0.8433 15.9997 1.01284 15.9295 1.13786 15.8045L7.99986 8.94252L14.8619 15.8045C14.9869 15.9295 15.1564 15.9997 15.3332 15.9997C15.51 15.9997 15.6795 15.9295 15.8045 15.8045C15.9295 15.6795 15.9997 15.51 15.9997 15.3332C15.9997 15.1564 15.9295 14.9869 15.8045 14.8619L8.94252 7.99986L15.8045 1.13786C15.9295 1.01284 15.9997 0.8433 15.9997 0.666524C15.9997 0.489748 15.9295 0.320209 15.8045 0.195191Z" fill="#AAADB3"/>
                    </svg>
            .editdesign__popup 
                .__image
                    img(src="./img/designimg3.png", alt="")
                .__desc
                    .main-form__line
                        label.main-form__lable(for="reg_form_name") Design title*
                        input.main-form__input#reg_form_name(type="text" placeholder="Write your design title")
                    .remove-desing.redwicon
                        <svg class="icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.5 3.5H2.5" stroke="#ED0A34" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.5 1.5H10.5" stroke="#ED0A34" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.5 3.5V13C12.5 13.1326 12.4473 13.2598 12.3536 13.3536C12.2598 13.4473 12.1326 13.5 12 13.5H4C3.86739 13.5 3.74021 13.4473 3.64645 13.3536C3.55268 13.2598 3.5 13.1326 3.5 13V3.5" stroke="#ED0A34" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        p.text Remove design
                    .btns.flex-co
                        button(type="button").btn.-blue Save changes
                        .btn-cancel Cancel

block scripts
    script(src="js/dashboardproducts.js")