extends core/_template

block title
	title Forget password error

block body
	body.page-adaptive

block content
	.main
		.main__content
			.main__content-top
				img(src="./img/main-logo.svg" width="114" height="24" alt="").main__logo
				.main__lang
					include blocks/language-drop
				
			.main__content-form.-top
				.main__content-alert
					.notification.-red We can’t find a user with that e-mail address.
				h1.main__content-title Password recovery
				p.main__content-text Your new Shopify experience is starting here. Welcome on board!

				form.main-form#reset_form(action="")
					.main-form__line
						input.main-form__input#reset_login(type="text" placeholder="example@mail.com" required)
						label.main-form__lable(for="reset_login") Username / Email
					.main-form__btn
						button.btn.-blue(type="submit") Recover

			.main__content-bottom
				.main__note Remembered the password?
					a(href="#").main__note-link Login

		.main__preview
			.main__preview-text
				.main__preview-text-subtitle NEW EXPERIENCE
				.main__preview-text-title STARTING HERE

			picture.main__preview-pic
				source(srcset="./img/forget-password@2x.png 2x" type="image/png")
				img(src="./img/forget-password.png" width="574" height="508" alt="").main__preview-pic-img
			
block scripts
	script(src="./js/just-validate.production.min.js")
