extends core/_template

block title
	title Главная

block content
	.main
		.main__content
			.main__content-top
				img(src="./img/main-logo.svg" width="114" height="24" alt="").main__logo
				.main__lang
					include blocks/language-drop
				
			.main__content-form.-top
				.main__content-alert
					.notification.-green We have e-mailed your password reset link!
				h1.main__content-title To create your new password, click the link in the email and enter a new one - easy
				p.main__content-text Didn't receive the email? Check your junk email, any other email addresses linked to your Printegy account, or click below to resend the email

				.main-form__btn
					.main-form__btn-item
						a.btn.-blue(href="#") Go to login
					.main-form__btn-item
						a.btn.-white(href="#") Resend email

			.main__content-bottom
				.main__note Remembered the password?
					a(href="#").main__note-link Login

		.main__preview
			.main__preview-text
				.main__preview-text-subtitle NEW EXPERIENCE
				.main__preview-text-title STARTING HERE

			picture.main__preview-pic
				source(srcset="./img/forget-password@2x.png 2x" type="image/png")
				img(src="./img/forget-password.png" width="574" height="508" alt="").main__preview-pic-img