extends core/_dashboard-template

block title
    title Messages

block content
    .dashboard__products-head
        h1.dashboard__title Messages

    .messagestable.usertable.stblock
        .__header
            .shop Shop 
            .title Title 
            .message Message
            .posted Posted at
        .__item
            .shop GOTTESSHIRT 
            .title Collection publish competed 
            .message Your collection “1.png” has been published
            .posted 2022-02-18  19:41:58
        .__item
            .shop GOTTESSHIRT 
            .title Collection publish competed 
            .message Your collection “1.png” has been published
            .posted 2022-02-18  19:41:58
        .__item
            .shop GOTTESSHIRT 
            .title Collection publish competed 
            .message Your collection “1.png” has been published
            .posted 2022-02-18  19:41:58
block scripts
    script(src="js/dashboardproducts.js")