extends core/_dashboard-template
include mixins/item

block title
    title My Stores

block content
    h1.dashboard__title My Stores
        .dashboardemty__start.stblock
            .image
                img.bg(src="./img/my-store-user.png" width="410" height="220" alt="")
                img.logo(src="./img/salepic.svg" width="50" height="50" alt="")
                .size
                    span
            .__desc
                h2.title18 Welcome, Alex
                p.text.stm12 To create your custom products with Printegy, connect your Shopify store! Or start by watching the short video about how the Printegy app works.
                button(type="button").btn.-green.-medium Direct order
                button(type="button").btn.-blue.-medium Connect My Store
                button(type="button").btn.-white.-compact How it works?
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_3991_18987)">
                    <path d="M10.4774 6.99059L8.03596 5.24155C7.84527 5.10513 7.61964 5.02296 7.38408 5.00416C7.14852 4.98535 6.91223 5.03063 6.7014 5.135C6.49057 5.23936 6.31343 5.39872 6.18963 5.59541C6.06583 5.79211 6.00019 6.01845 6 6.24936V9.74918C5.99963 9.98031 6.06493 10.207 6.18861 10.404C6.31229 10.6011 6.48952 10.7607 6.70056 10.8652C6.91159 10.9696 7.14816 11.0148 7.38393 10.9957C7.6197 10.9766 7.84542 10.894 8.03596 10.757L10.4774 9.00795C10.6394 8.8918 10.7711 8.74002 10.8619 8.56489C10.9527 8.38976 11 8.19621 11 7.99989C11 7.80358 10.9527 7.61002 10.8619 7.43489C10.7711 7.25977 10.6394 7.10798 10.4774 6.99184V6.99059Z" fill="#0E86F4"/>
                    <circle cx="8" cy="8" r="7.5" stroke="#0E86F4"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_3991_18987">
                    <rect width="16" height="16" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>

        .no__product
            .__info
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_3991_19141)">
                <path d="M32 13.3331C32.0001 13.2358 31.9893 13.1387 31.968 13.0437L30.2347 5.21975C29.9126 3.73473 29.0898 2.40559 27.9042 1.45519C26.7185 0.504788 25.2422 -0.00908139 23.7227 -0.000254359H8.27734C6.75874 -0.00785476 5.28364 0.506575 4.09911 1.45687C2.91457 2.40717 2.09253 3.73563 1.77067 5.21975L0.0320018 13.0437C0.0106793 13.1387 -5.28798e-05 13.2358 1.82586e-06 13.3331V14.6664C-0.00107392 15.9645 0.47323 17.2181 1.33334 18.1904V25.3331C1.33545 27.1005 2.03851 28.795 3.2883 30.0448C4.53808 31.2946 6.23254 31.9976 8 31.9997H24C25.7675 31.9976 27.4619 31.2946 28.7117 30.0448C29.9615 28.795 30.6646 27.1005 30.6667 25.3331V18.1904C31.5268 17.2181 32.0011 15.9645 32 14.6664V13.3331ZM2.66667 13.4784L4.37334 5.79841C4.56673 4.90808 5.06002 4.11118 5.77069 3.54105C6.48135 2.97092 7.36625 2.66215 8.27734 2.66641H9.33334V6.66641C9.33334 7.02004 9.47381 7.35917 9.72386 7.60922C9.97391 7.85927 10.313 7.99975 10.6667 7.99975C11.0203 7.99975 11.3594 7.85927 11.6095 7.60922C11.8595 7.35917 12 7.02004 12 6.66641V2.66641H20V6.66641C20 7.02004 20.1405 7.35917 20.3905 7.60922C20.6406 7.85927 20.9797 7.99975 21.3333 7.99975C21.687 7.99975 22.0261 7.85927 22.2761 7.60922C22.5262 7.35917 22.6667 7.02004 22.6667 6.66641V2.66641H23.7227C24.6338 2.66215 25.5187 2.97092 26.2293 3.54105C26.94 4.11118 27.4333 4.90808 27.6267 5.79841L29.3333 13.4784V14.6664C29.3333 15.3737 29.0524 16.0519 28.5523 16.552C28.0522 17.0521 27.3739 17.3331 26.6667 17.3331H25.3333C24.6261 17.3331 23.9478 17.0521 23.4477 16.552C22.9476 16.0519 22.6667 15.3737 22.6667 14.6664C22.6667 14.3128 22.5262 13.9737 22.2761 13.7236C22.0261 13.4736 21.687 13.3331 21.3333 13.3331C20.9797 13.3331 20.6406 13.4736 20.3905 13.7236C20.1405 13.9737 20 14.3128 20 14.6664C20 15.3737 19.719 16.0519 19.219 16.552C18.7189 17.0521 18.0406 17.3331 17.3333 17.3331H14.6667C13.9594 17.3331 13.2811 17.0521 12.7811 16.552C12.281 16.0519 12 15.3737 12 14.6664C12 14.3128 11.8595 13.9737 11.6095 13.7236C11.3594 13.4736 11.0203 13.3331 10.6667 13.3331C10.313 13.3331 9.97391 13.4736 9.72386 13.7236C9.47381 13.9737 9.33334 14.3128 9.33334 14.6664C9.33334 15.3737 9.05238 16.0519 8.55229 16.552C8.05219 17.0521 7.37391 17.3331 6.66667 17.3331H5.33334C4.62609 17.3331 3.94781 17.0521 3.44772 16.552C2.94762 16.0519 2.66667 15.3737 2.66667 14.6664V13.4784ZM24 29.3331H8C6.93914 29.3331 5.92172 28.9117 5.17158 28.1615C4.42143 27.4114 4 26.3939 4 25.3331V19.8304C4.43547 19.9432 4.88351 20.0001 5.33334 19.9997H6.66667C7.42376 20.0001 8.17221 19.8389 8.86201 19.5269C9.55181 19.2149 10.1671 18.7593 10.6667 18.1904C11.1663 18.7593 11.7815 19.2149 12.4713 19.5269C13.1611 19.8389 13.9096 20.0001 14.6667 19.9997H17.3333C18.0904 20.0001 18.8389 19.8389 19.5287 19.5269C20.2185 19.2149 20.8337 18.7593 21.3333 18.1904C21.8329 18.7593 22.4482 19.2149 23.138 19.5269C23.8278 19.8389 24.5763 20.0001 25.3333 19.9997H26.6667C27.1165 20.0001 27.5645 19.9432 28 19.8304V25.3331C28 26.3939 27.5786 27.4114 26.8284 28.1615C26.0783 28.9117 25.0609 29.3331 24 29.3331Z" fill="#AAADB3"/>
                </g>
                <defs>
                <clipPath id="clip0_3991_19141">
                <rect width="32" height="32" fill="white"/>
                </clipPath>
                </defs>
                </svg>
                .info__text No stores added yet


block scripts
    script(src="js/dashboardproducts.js")