extends core/_dashboard-template

block title
    title My Stores

block content
    .dashboard__products-head
        h1.dashboard__title My Stores

    .mystorestable.usertable.stblock
        .__header
            .store Store 
            .status Status 
            .actions Actions 
        .__item
            .store GOTTESSHIRT 
            .status.done Active 
            .actions.flex-co
                button.btn.-reverse(type="button") Visit
                button.btn.-blue(type="button") Settings

    a(href="").usertablelinkto.p14-600.stm Connect another Shopify Store
   
block scripts
    script(src="js/dashboardproducts.js")