extends core/_template

block title
	title New password

block body
	body.page-adaptive

block content
	.main
		.main__content
			.main__content-top
				img(src="./img/main-logo.svg" width="114" height="24" alt="").main__logo
				.main__lang
					include blocks/language-drop
				
			.main__content-form
				h1.main__content-title Enter new password
				p.main__content-text Your new Shopify experience is starting here. Welcome on board!

				form.main-form#new_password_form(action="")
					.main-form__line
						input.main-form__input#password(type="password" placeholder="***********************" required)
						label.main-form__lable(for="password") Password
					.main-form__line
						input.main-form__input#confirm-password(type="password" placeholder="***********************" required)
						label.main-form__lable(for="confirm-password") Confirm password
					.main-form__btn
						button.btn.-blue(type="submit") Confirm

			.main__content-bottom
				.main__note Remembered the password?
					a(href="#").main__note-link Login

		.main__preview
			.main__preview-text
				.main__preview-text-subtitle NEW EXPERIENCE
				.main__preview-text-title STARTING HERE

			picture.main__preview-pic
				source(srcset="./img/new-password@2x.png 2x" type="image/png")
				img(src="./img/new-password.png" width="535" height="490" alt="").main__preview-pic-img
			
block scripts
	script(src="./js/just-validate.production.min.js")
