extends core/_dashboard-template

block title
	title Pages

block content
	h1.dashboard__title Pages
	.dashboard__inner
		a.page(href="https://printegy.de/finalpages/choose-empty.html") Choose empty
		a.page(href="https://printegy.de/finalpages/choose.html") Choose
		a.page(href="https://printegy.de/finalpages/adjust.html") Adjust
		a.page(href="https://printegy.de/finalpages/place-order.html") Place order
		a.page(href="https://printegy.de/finalpages/place-order-alerts.html") Place order alerts
		a.page(href="https://printegy.de/finalpages/sample-address.html") Sample address
		a.page(href="https://printegy.de/finalpages/branding.html") Брэндинг
		a.page(href="https://printegy.de/finalpages/branding-empty.html") Брэндинг empty
		a.page(href="https://printegy.de/finalpages/onboarding.html") Онбординг
		a.page(href="https://printegy.de/finalpages/orders.html") Orders
		a.page(href="https://printegy.de/finalpages/forget-password.html") Восстановление пароля
		a.page(href="https://printegy.de/finalpages/forget-password-confirmed.html") Восстановление пароля, успешно
		a.page(href="https://printegy.de/finalpages/forget-password-error.html") Восстановление пароля, ошибка
		a.page(href="https://printegy.de/finalpages/login.html") Логин
		a.page(href="https://printegy.de/finalpages/new-password.html") Новый пароль
		a.page(href="https://printegy.de/finalpages/new-password-success.html") Новый пароль, успешно
		a.page(href="https://printegy.de/finalpages/sign-up.html") Регистрация
		a.page(href="https://printegy.de/finalpages/sign-up-thanks.html") Регистрация, успешно
		a.page(href="https://printegy.de/finalpages/billing.html") Billing
		a.page(href="https://printegy.de/finalpages/dashboard-main-empty.html") dashboard-main-empty
		a.page(href="https://printegy.de/finalpages/dashboard-main-filled.html") dashboard-main-filled
		a.page(href="https://printegy.de/finalpages/dashboard-products-no-connected.html") dashboard-products-no-connected
		a.page(href="https://printegy.de/finalpages/dashboard-products-main-filled.html") dashboard-products-main-filled
		a.page(href="https://printegy.de/finalpages/dashboard-products-main-filled2.html") dashboard-products-main-filled2
		a.page(href="https://printegy.de/finalpages/dashboard-products-main-grid.html") dashboard-products-main-grid
		a.page(href="https://printegy.de/finalpages/dashboard-products-mainempty.html") dashboard-products-mainempty
		a.page(href="https://printegy.de/finalpages/dashboard-products-popup-firststep.html") dashboard-products-popup-firststep
		a.page(href="https://printegy.de/finalpages/dashboard-products-popup-secondstep.html") dashboard-products-popup-secondstep
		a.page(href="https://printegy.de/finalpages/dashboard-products-popup-thirdstep-alerts.html") dashboard-products-popup-thirdstep-alerts
		a.page(href="https://printegy.de/finalpages/dashboard-products-popup-thirdstep-design.html") dashboard-products-popup-thirdstep-design
		a.page(href="https://printegy.de/finalpages/dashboard-products-popup-thirdstep-price.html") dashboard-products-popup-thirdstep-price
		a.page(href="https://printegy.de/finalpages/dashboard-products-popup-thirdstep-setting.html") dashboard-products-popup-thirdstep-setting
		a.page(href="https://printegy.de/finalpages/dashboard-products-popup-thirdstep-warning.html") dashboard-products-popup-thirdstep-warning
		a.page(href="https://printegy.de/finalpages/dashboard-products-published.html") dashboard-products-published
		a.page(href="https://printegy.de/finalpages/dashboard-products-publishing.html") dashboard-products-publishing
		a.page(href="https://printegy.de/finalpages/designs.html") designs
		a.page(href="https://printegy.de/finalpages/messages.html") messages
		a.page(href="https://printegy.de/finalpages/messages-empty.html") messages empty
		a.page(href="https://printegy.de/finalpages/my-stores.html") my stores
		a.page(href="https://printegy.de/finalpages/my-stores-user.html") my stores user
		a.page(href="https://printegy.de/finalpages/settings-address.html") settings-address
		a.page(href="https://printegy.de/finalpages/settings-shipping.html") settings-shipping
		a.page(href="https://printegy.de/finalpages/user-dropdown.html") user-dropdown
		a.page(href="https://printegy.de/finalpages/user-profile.html") user-profile
		a.page(href="https://printegy.de/finalpages/error.html") Error


block scripts
	//- script(src="./js/just-validate.production.min.js")
			