extends core/_dashboard-template

block title
	title Pages

block content
	h1.dashboard__title Pages
	.dashboard__inner
		a.page(href="choose-empty.html") Choose empty
		a.page(href="choose.html") Choose
		a.page(href="adjust.html") Adjust
		a.page(href="place-order.html") Place order
		a.page(href="place-order-alerts.html") Place order alerts
		a.page(href="sample-address.html") Sample address
		a.page(href="branding.html") Брэндинг
		a.page(href="branding-empty.html") Брэндинг empty
		a.page(href="onboarding.html") Онбординг
		a.page(href="orders.html") Orders
		a.page(href="forget-password.html") Восстановление пароля
		a.page(href="forget-password-confirmed.html") Восстановление пароля, успешно
		a.page(href="forget-password-error.html") Восстановление пароля, ошибка
		a.page(href="login.html") Логин
		a.page(href="new-password.html") Новый пароль
		a.page(href="new-password-success.html") Новый пароль, успешно
		a.page(href="sign-up.html") Регистрация
		a.page(href="sign-up-thanks.html") Регистрация, успешно
		a.page(href="billing.html") Billing
		a.page(href="dashboard-main-empty.html") dashboard-main-empty
		a.page(href="dashboard-main-filled.html") dashboard-main-filled
		a.page(href="dashboard-products-no-connected.html") dashboard-products-no-connected
		a.page(href="dashboard-products-main-filled.html") dashboard-products-main-filled
		a.page(href="dashboard-products-main-filled2.html") dashboard-products-main-filled2
		a.page(href="dashboard-products-main-grid.html") dashboard-products-main-grid
		a.page(href="dashboard-products-mainempty.html") dashboard-products-mainempty
		a.page(href="dashboard-products-popup-firststep.html") dashboard-products-popup-firststep
		a.page(href="dashboard-products-popup-secondstep.html") dashboard-products-popup-secondstep
		a.page(href="dashboard-products-popup-thirdstep-alerts.html") dashboard-products-popup-thirdstep-alerts
		a.page(href="dashboard-products-popup-thirdstep-design.html") dashboard-products-popup-thirdstep-design
		a.page(href="dashboard-products-popup-thirdstep-price.html") dashboard-products-popup-thirdstep-price
		a.page(href="dashboard-products-popup-thirdstep-setting.html") dashboard-products-popup-thirdstep-setting
		a.page(href="dashboard-products-popup-thirdstep-warning.html") dashboard-products-popup-thirdstep-warning
		a.page(href="dashboard-products-published.html") dashboard-products-published
		a.page(href="dashboard-products-publishing.html") dashboard-products-publishing
		a.page(href="designs.html") designs
		a.page(href="messages.html") messages
		a.page(href="messages-empty.html") messages empty
		a.page(href="my-stores.html") my stores
		a.page(href="my-stores-user.html") my stores user
		a.page(href="settings-address.html") settings-address
		a.page(href="settings-shipping.html") settings-shipping
		a.page(href="user-dropdown.html") user-dropdown
		a.page(href="user-profile.html") user-profile
		a.page(href="error.html") Error


block scripts
	//- script(src="./js/just-validate.production.min.js")
