extends core/_place-order

block modal
    .show-modal

block sidebar-overlay
    .sidebar-overlay
        .content
            <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M30.0002 10C24.6977 10.006 19.6141 12.115 15.8646 15.8645C12.1152 19.6139 10.0061 24.6975 10.0002 30C10.9402 56.47 49.0652 56.4625 50.0002 30C49.9942 24.6975 47.8852 19.6139 44.1357 15.8645C40.3863 12.115 35.3027 10.006 30.0002 10ZM30.0002 45C10.1777 44.37 10.1802 15.6275 30.0002 15C49.8227 15.63 49.8202 44.3725 30.0002 45ZM32.5002 22.5V30C32.5002 30.6631 32.2368 31.2989 31.768 31.7678C31.2991 32.2366 30.6632 32.5 30.0002 32.5C29.3371 32.5 28.7013 32.2366 28.2324 31.7678C27.7636 31.2989 27.5002 30.6631 27.5002 30V22.5C27.5002 21.837 27.7636 21.2011 28.2324 20.7322C28.7013 20.2634 29.3371 20 30.0002 20C30.6632 20 31.2991 20.2634 31.768 20.7322C32.2368 21.2011 32.5002 21.837 32.5002 22.5ZM60.0002 30C59.9954 36.9665 57.5715 43.715 53.1427 49.0925C52.7203 49.604 52.1121 49.9269 51.4517 49.9899C50.7913 50.053 50.133 49.8511 49.6214 49.4288C49.1099 49.0064 48.7871 48.3981 48.724 47.7378C48.661 47.0774 48.8628 46.4191 49.2852 45.9075C52.9557 41.4186 54.9609 35.7985 54.9609 30C54.9609 24.2015 52.9557 18.5814 49.2852 14.0925C49.0761 13.8392 48.9189 13.5472 48.8226 13.2332C48.7263 12.9192 48.6928 12.5892 48.724 12.2622C48.7553 11.9353 48.8506 11.6176 49.0046 11.3275C49.1585 11.0374 49.3681 10.7804 49.6214 10.5713C50.133 10.1489 50.7913 9.94705 51.4517 10.0101C52.1121 10.0732 52.7203 10.396 53.1427 10.9075C57.5715 16.285 59.9954 23.0336 60.0002 30ZM10.7152 45.9075C11.1375 46.4187 11.3395 47.0768 11.2767 47.7369C11.2139 48.397 10.8914 49.0052 10.3802 49.4275C9.86899 49.8499 9.21094 50.0518 8.55081 49.989C7.89068 49.9262 7.28255 49.6037 6.86019 49.0925C2.45495 43.7048 0.0483398 36.9595 0.0483398 30C0.0483398 23.0406 2.45495 16.2952 6.86019 10.9075C7.28255 10.3963 7.89068 10.0738 8.55081 10.011C9.21094 9.94817 9.86899 10.1502 10.3802 10.5725C10.8914 10.9949 11.2139 11.603 11.2767 12.2631C11.3395 12.9233 11.1375 13.5813 10.7152 14.0925C7.04468 18.5814 5.03945 24.2015 5.03945 30C5.03945 35.7985 7.04468 41.4186 10.7152 45.9075ZM32.5002 37.5C32.5002 38.1631 32.2368 38.7989 31.768 39.2678C31.2991 39.7366 30.6632 40 30.0002 40C29.3371 40 28.7013 39.7366 28.2324 39.2678C27.7636 38.7989 27.5002 38.1631 27.5002 37.5C27.5002 36.837 27.7636 36.2011 28.2324 35.7322C28.7013 35.2634 29.3371 35 30.0002 35C30.6632 35 31.2991 35.2634 31.768 35.7322C32.2368 36.2011 32.5002 36.837 32.5002 37.5Z" fill="#DBAF3E"/>
            </svg>
            h3 Not enough funds
            p We can't process your order until you fund your account wallet
            button(type="button").btn.btn--blue.btn--medium Add funds