extends core/_place-order

block modal
    .show-modal

block sidebar-overlay
    .sidebar-overlay
        .content
            <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_3989_18865)">
            <path d="M17.5 60C20.2614 60 22.5 57.7614 22.5 55C22.5 52.2386 20.2614 50 17.5 50C14.7386 50 12.5 52.2386 12.5 55C12.5 57.7614 14.7386 60 17.5 60Z" fill="#1FB46C"/>
            <path d="M42.5 60C45.2614 60 47.5 57.7614 47.5 55C47.5 52.2386 45.2614 50 42.5 50C39.7386 50 37.5 52.2386 37.5 55C37.5 57.7614 39.7386 60 42.5 60Z" fill="#1FB46C"/>
            <path d="M59.2125 3.34C58.7436 2.87132 58.1079 2.60803 57.445 2.60803C56.7821 2.60803 56.1463 2.87132 55.6775 3.34L42.78 16.25L38.9025 12.2025C38.675 11.9658 38.403 11.7762 38.1023 11.6446C37.8015 11.513 37.4777 11.4419 37.1495 11.4354C36.8212 11.4289 36.4949 11.4871 36.1891 11.6067C35.8834 11.7263 35.6042 11.905 35.3675 12.1325C35.1308 12.36 34.9412 12.6319 34.8096 12.9327C34.6779 13.2335 34.6068 13.5572 34.6003 13.8855C34.5872 14.5484 34.838 15.1894 35.2975 15.6675L39.3325 19.865C39.7624 20.3294 40.2821 20.7017 40.86 20.9596C41.438 21.2174 42.0622 21.3553 42.695 21.365H42.7775C43.3976 21.367 44.012 21.2459 44.5849 21.0086C45.1578 20.7712 45.6779 20.4225 46.115 19.9825L59.2125 6.875C59.6811 6.40618 59.9444 5.77041 59.9444 5.1075C59.9444 4.44459 59.6811 3.80882 59.2125 3.34Z" fill="#1FB46C"/>
            <path d="M54.75 22.54C54.4268 22.4816 54.0952 22.4875 53.7742 22.5573C53.4533 22.6271 53.1492 22.7594 52.8794 22.9468C52.6097 23.1341 52.3794 23.3728 52.202 23.6492C52.0245 23.9256 51.9032 24.2342 51.845 24.5575L51.525 26.33C51.2131 28.0608 50.3029 29.627 48.9535 30.7548C47.604 31.8826 45.9012 32.5003 44.1425 32.5H13.545L11.195 12.5H27.5C28.163 12.5 28.7989 12.2366 29.2678 11.7678C29.7366 11.2989 30 10.663 30 10C30 9.33696 29.7366 8.70107 29.2678 8.23223C28.7989 7.76339 28.163 7.5 27.5 7.5H10.605L10.5 6.62C10.2846 4.7965 9.40765 3.11538 8.03547 1.89526C6.66329 0.675136 4.89119 0.000782091 3.055 0L2.5 0C1.83696 0 1.20107 0.263392 0.732233 0.732233C0.263392 1.20107 0 1.83696 0 2.5C0 3.16304 0.263392 3.79893 0.732233 4.26777C1.20107 4.73661 1.83696 5 2.5 5H3.055C3.66733 5.00008 4.25834 5.22489 4.71593 5.63179C5.17352 6.03869 5.46586 6.59937 5.5375 7.2075L8.9775 36.4575C9.33463 39.4995 10.7962 42.3045 13.0848 44.34C15.3733 46.3756 18.3296 47.5001 21.3925 47.5H47.5C48.163 47.5 48.7989 47.2366 49.2678 46.7678C49.7366 46.2989 50 45.663 50 45C50 44.337 49.7366 43.7011 49.2678 43.2322C48.7989 42.7634 48.163 42.5 47.5 42.5H21.3925C19.8413 42.5003 18.3282 42.0196 17.0615 41.1241C15.7949 40.2287 14.8371 38.9625 14.32 37.5H44.1425C47.0732 37.5002 49.9109 36.4706 52.1596 34.5911C54.4083 32.7116 55.9251 30.1017 56.445 27.2175L56.765 25.4425C56.8823 24.7904 56.7359 24.1185 56.3581 23.5743C55.9803 23.0301 55.4019 22.6581 54.75 22.54Z" fill="#1FB46C"/>
            </g>
            <defs>
            <clipPath id="clip0_3989_18865">
            <rect width="60" height="60" fill="white"/>
            </clipPath>
            </defs>
            </svg>
            h3 Order successfully created
            p Your order was successfully placed, you can find it in the Orders
            button(type="button").btn.btn--blue.btn--medium Go to Orders