extends core/_dashboard-template
include mixins/shippingtable-item

block title
    title Settings Shipping

block content
    .dashboard__products-head
        h1.dashboard__title Settings

    .settingspage__tabs
        a(href="").__tab Address 
        a(href="").__tab.active Shipping 
        a(href="").__tab Preferences 
    .shipping__content__wrapper 
        h2.title18.__title Shipping Rules
        .shipping__blocks.flex-c
            .shippingrules
                .__block.stblock
                    .desc
                        p We leave it entirely up it you as to how you want to define the shipping zones for your store. You can use our product shipping costs in the product section as a guide but ultimately it's up to you, these costs are simply what we will charge you.
                        p It's recommended to create your own shipping zones at <a href="">SHOPIFY SETTINGS SECTION</a> with countries presented in the next table.
            .shippingdelivery
                .__block.stblock
                    .desc
                        h2.title We are working with best delivery service
                        p With our reliable partner DHL, you and your customers will get the best possible shipping experience.
    .shippingprices 
        h2.title18 Shipping Prices
        .__table.stblock
            .__head
                .shipping__product Product
                .shipping__region Region
                .shipping__singleproduct Single Product
                .shipping__additionalproduct Additional Product
                .shipping__show Show / Hide
            +shippingtable__item('Phone cases', './img/shippingprice1.png')
            +shippingtable__item('Shirts', './img/shippingprice2.png')
            +shippingtable__item('Hoodies, sweatshirts, jackets and pants', './img/shippingprice3.png')
            +shippingtable__item('All-over print clothing and textiles', './img/shippingprice4.png')
            +shippingtable__item('Face coverings', './img/shippingprice5.png')
            +shippingtable__item('Banners and art', './img/shippingprice6.png')


block scripts
    script(src="js/dashboardproducts.js")
    script(src="js/shipping.js")