extends core/_dashboard-template

block title
    title User Profile

block content
    .dashboard__products-head
        h1.dashboard__title User Profile

    form.main-form#account_form(action="#" method="post")
        .settingspage__content__wrapper
            .settingspage__addressblock
                .__titleblock.flex-c-b
                    h2.__title Avatar Image

                .__adressblock
                    .dz#dz
                        input(type="file" accept="image/*" required).dz__input#inputFile
                        .dz__area
                            .dz__area-content.userprofile
                                .dz__icon
                                .dz__btn Add Image
                                .dz__note or drop images to upload
                                .dz__note.recommended Recommended size: 6000 x 6000 px Image formats: JPG, JPEG, PNG, GIF, WEBP
                            .dz__area-pic
                                img(src="", alt="")#inputPreview.dz__area-pic-img

                        .dz__info
                            .dz__info-name#inputFileName
                            label.dz__info-link(for="inputFile") Choose another file
                            button#buttonFileRemove.dz__info-remove(type="button")
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.1544 1.84546L1.84534 12.1545" stroke="#ED0A34" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M12.1544 12.1545L1.84534 1.84546" stroke="#ED0A34" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                span Delete



            .settingspage__addressblock
                .__titleblock.flex-c-b
                    h2.__title Account Information
                .__adressblock
                    .forminputs__wrapper
                        .main-form__line
                            input.main-form__input#account_form_name(type="text" placeholder="Gottesshirt LLC." value="" required)
                            label.main-form__lable(for="account_form_name") Name
                        .main-form__line
                            input.main-form__input#account_form_email(type="email" placeholder="dima.shatunov@gmail.com" value="" required)
                            label.main-form__lable(for="account_form_email") Email
                    .forminputs__wrapper
                        .main-form__line
                            input.main-form__input#password(type="password" placeholder="" value="" required)
                            label.main-form__lable(for="password") New password
                        .main-form__line
                            input.main-form__input#confirm-password(type="password" placeholder="" value="" required)
                            label.main-form__lable(for="confirm-password") Confirm new password
        .formbtns__wrapper
            .main-form__btn
                button.btn.cancel(type="button") Cancel
            .main-form__btn
                button.btn.-blue.confirm(type="submit") Confirm changes


 

block scripts
    script(src="js/just-validate.production.min.js")
    script(src="js/dashboardproducts.js")