.salebtn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: $borderinput;
    border-radius: $br;
    background: #F3F4F6;
    transition: .2s;
    cursor: pointer;
}