.dashboard__product__popup-content__review__sideblock
    .tabs
        a(href="").tab Product Design
        a(href="").tab.active Settings & Variants
        a(href="").tab Shipping & Pricing
    .dashboard__product__popup-content__content
        .image-options
            p.desc.p13-400 Available models
            .__availablemodels__wrapper.stm16
                .__aviablemodel
                    input(type="checkbox" checked).toggler
                    p.text.p14-600.active All Models Enabled
                .__aviablemodel
                    input(type="checkbox").toggler
                    p.text.p14-600 Galaxy S7 Edge
            .__titledescription__wrapper.stm
                p.desc.p13-400 Title & Description
                button.__editbtn.open-modal(type="button" data-modal="edit-modal")
                    <svg class="icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.47816 14.2856H2.2853C2.13375 14.2856 1.9884 14.2254 1.88124 14.1182C1.77407 14.011 1.71387 13.8657 1.71387 13.7142V10.5213C1.71361 10.4471 1.72799 10.3736 1.75618 10.3049C1.78437 10.2363 1.82582 10.1739 1.87816 10.1213L10.4496 1.54987C10.5028 1.49588 10.5661 1.453 10.636 1.42373C10.7059 1.39447 10.7809 1.37939 10.8567 1.37939C10.9325 1.37939 11.0075 1.39447 11.0774 1.42373C11.1473 1.453 11.2107 1.49588 11.2639 1.54987L14.4496 4.73558C14.5036 4.78875 14.5465 4.85213 14.5757 4.92203C14.605 4.99193 14.6201 5.06695 14.6201 5.14272C14.6201 5.2185 14.605 5.29352 14.5757 5.36342C14.5465 5.43332 14.5036 5.4967 14.4496 5.54987L5.87816 14.1213C5.82556 14.1736 5.76315 14.2151 5.69452 14.2433C5.62588 14.2715 5.55236 14.2858 5.47816 14.2856V14.2856Z" stroke="#0E86F4" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M8.57129 3.42847L12.5713 7.42847" stroke="#0E86F4" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    p.desc.p13-600 Edit
            .__cushion__wrapper.stm16
                h3.title Cushion
                p.stm12.p13-400 Add a touch of comfort and sophistication to any room. Cushions are a great way to update your home and add a splash of colour. This cushion is only the cover and does not include the insert.
            .__settingblock.stm
                .title.p13-400 Material
                .__settingitems.stm16
                    .__item.active
                        .value.p14-600 Matte
                    .__item
                        .value.p14-600 White & Black
                    .__item
                        .value.p14-600 Gloss
            .__settingblock.stm
                .title.p13-400 Color
                .__settingitems.stm16
                    .__item.active
                        .value
                            .color(style="background: #000" )
                    .__item.active
                        .value
                            .color(style="background: #558240" )
                    .__item
                        .value
                            .color(style="background: #EF5353" )
                    .__item
                        .value
                            .color(style="background: #0267FF" )
                    .__item
                        .value
                            .color(style="background: #fff; border: 1px solid rgba(1, 24, 46, 0.12);" )
                    .__item.active
                        .value
                            .color(style="background: #2D87A4" )
                    .__item
                        .value
                            .color(style="background: #D96E0B" )
                    .__item
                        .value
                            .color(style="background: #A816DB" )
                    .__item.active
                        .value
                            .color(style="background: #E8E8E8" )
                .__titledescription__wrapper.stm
                    p.desc.p13-400 Size
                    button.__editbtn.pricetablebtn(type="button")
                        <svg class="icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 3.5C3 3.5 1 8 1 8C1 8 3 12.5 8 12.5C13 12.5 15 8 15 8C15 8 13 3.5 8 3.5Z" stroke="#0E86F4" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8 10.5C9.38071 10.5 10.5 9.38071 10.5 8C10.5 6.61929 9.38071 5.5 8 5.5C6.61929 5.5 5.5 6.61929 5.5 8C5.5 9.38071 6.61929 10.5 8 10.5Z" stroke="#0E86F4" stroke-width="1.25" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        p.desc.p13-600 Size charts
                        .pricetable__event__table
                            p.p14-600.title Size Variants
                            .table
                                .__trow
                                    .head Color
                                    .value Red
                                    .value Red
                                    .value Light Blue
                                .__trow
                                    .head Size
                                    .value XS
                                    .value S
                                    .value M
                                .__trow
                                    .head Wholesale
                                    .value € 19,55
                                    .value € 19,55
                                    .value € 19,55
                                .__trow
                                    .head Retail price
                                    .value € 25,99
                                    .value € 25,99
                                    .value € 25,99
                                .__trow
                                    .head Profit
                                    .value € 6,44
                                    .value € 6,44
                                    .value € 6,44
                .__settingitems.stm16
                    .__item.active
                        .value.p14-600 S
                    .__item
                        .value.p14-600 M
                    .__item.active
                        .value.p14-600 L
            .__settingblock.stm
                .title.p13-400 Tags
                    .tag__add-wrapper.stm16
                        input(type="text" placeholder="Add a new tag").tag__value
                        button(type="button" placeholder="Add").tag__add
                            <svg class="icon" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.38477 7H12.6139" stroke="#0E86F4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7 1.38525V12.6144" stroke="#0E86F4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>

                .settingblock__tags.stm12


    .dashboard__product__popup-content__save-btns.btop
        button(type="submit" ).btn.-blue.-medium Save Product
        .btn-cancel Cancel