.dashboard__product__popup-content__review__sideblock
    .tabs.swiper
        .swiper-wrapper
            a(href="").tab.swiper-slide Product Design
            a(href="").tab.swiper-slide Settings & Variants
            a(href="").tab.swiper-slide Shipping & Pricing
            a(href="").tab.swiper-slide.active Mockups
            a(href="").tab.swiper-slide
    .dashboard__product__popup-content__content
        .image-options
            p.desc.p13-400 All mockups
            .mockups-items
                label.mockups-item
                    input(type="radio" name="mockup" value="1")
                    figure
                        img(src="./img/img-mockups.jpg" alt="" width="132" height="130")
                label.mockups-item
                    input(type="radio" name="mockup" value="1" checked)
                    figure
                        img(src="./img/img-mockups.jpg" alt="" width="132" height="130")
                label.mockups-item
                    input(type="radio" name="mockup" value="1")
                    figure
                        img(src="./img/img-mockups.jpg" alt="" width="132" height="130")
                label.mockups-item
                    input(type="radio" name="mockup" value="1")
                    figure
                        img(src="./img/img-mockups.jpg" alt="" width="132" height="130")
                label.mockups-item
                    input(type="radio" name="mockup" value="1")
                    figure
                        img(src="./img/img-mockups.jpg" alt="" width="132" height="130")


    .dashboard__product__popup-content__save-btns.btop
        button(type="submit" ).btn.-blue.-medium Save Product
        .btn-cancel Cancel