.main-form {
  &__line {
    position: relative;
    margin-bottom: 26px;
    padding-top: 22px;
    &:last-child {
      margin-bottom: 0;
    }
    &:hover label {
      color: #19191a;
    }
    .forget {
      position: absolute;
      top: 0;
      right: 0;
      color: #0E7DE2;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
    }
  }
  &__line-checkbox {
    padding-top: 0;
  }
  &__lable {
    display: block;
    font-family: $f-Manrope-Regular;
    font-size: 12px;
    line-height: 14px;
    color: #919399;
    transition: color .3s;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
  }
  &__input {
    background: #ffffff;
    border: 1px solid rgba(1, 24, 46, 0.12);
    box-sizing: border-box;
    border-radius: 3px;
    font-family: $f-Manrope-Regular;
    font-size: 14px;
    line-height: 20px;
    color: #19191a;
    padding: 9px 14px;
    width: 100%;
    transition: color 0.3s, border-color 0.3s;
    &[value=""] {
      border: 1px solid rgba(1, 24, 46, 0.12);
      &+label {
        color: #919399;
      }
    }
    &:active,
    &:focus,
    &:hover,
    &.just-validate-success-field,
    &.is-valid {
      border: 1px solid rgba(1, 24, 46, 0.24);
      &+label {
        color: #19191a;
      }
    }
    &.is-invalid {
      border-color: #ed0a34 !important;
    }
  }
  &__btn {
    margin-top: 24px;
    display: flex;
    align-items: center;
    &-item {
      margin-right: 12px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
