include smallbtn
include salebtn

mixin chooseprodut
    .item__block-popup
        .item__block-popup__top
            img(src="./img/productpopupimg.png" width="325" height="210" alt="").main__preview-pic-img
        .item__block-popup__information
            .__title Stanley/Stella Blaster T-Shirt
            .__sizes Available Sizes:
                span S - 5XL