include smallbtn
include salebtn

mixin item__block(icon='./img/salepic.svg')
	.item__block(style="display:none")
		.item__block__top
			img(src="./img/image141.png" width="220" height="204" alt="").main__preview-pic-img
			.item__block__top-sidebtns
				+salebtn(icon)
			.item__block__top-actionbtns
				.smallbtn
					<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M11.5 11.5H4.3625L2.61875 1.9125C2.59835 1.79768 2.53845 1.69361 2.44943 1.61828C2.36041 1.54296 2.24786 1.50112 2.13125 1.5H1" stroke="#AAADB3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M5 14C5.69036 14 6.25 13.4404 6.25 12.75C6.25 12.0596 5.69036 11.5 5 11.5C4.30964 11.5 3.75 12.0596 3.75 12.75C3.75 13.4404 4.30964 14 5 14Z" stroke="#AAADB3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M11.5 14C12.1904 14 12.75 13.4404 12.75 12.75C12.75 12.0596 12.1904 11.5 11.5 11.5C10.8096 11.5 10.25 12.0596 10.25 12.75C10.25 13.4404 10.8096 14 11.5 14Z" stroke="#AAADB3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					<path d="M3.90625 9H11.7563C11.99 9.00071 12.2165 8.91902 12.3959 8.76928C12.5754 8.61953 12.6963 8.41133 12.7375 8.18125L13.5 4H3" stroke="#AAADB3" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				+smallbtn('./img/PencilSimple.svg')
				+smallbtn('./img/DownloadSimple.svg')
				+smallbtn('./img/Trash.svg')
		.item__block__desc 
			h3.__title Phone Case
			.item__block__charsblock
				.item__block__charsblock-char
					.name Design
					.value Case-Merkel.png
				.item__block__charsblock-char
					.name Category
					.value Phone & Tablet Cases
				.item__block__charsblock-char
					.name Gender
					.value Unisex
				.item__block__charsblock-char
					.name Sizes
					.value M, L, 2XL
				.item__block__charsblock-char
					.name Brand
					.value Premium
				.item__block__charsblock-char
					.name Colors
					.value Green, White, Blue
				.item__block__charsblock-char
					.name Bulk price
					.value €14.90 + 0.00
				.item__block__charsblock-char.chartoggler
					.name Enable
					input(type="checkbox").toggler

mixin item__block-ph
	.item__block.ph-item
		.ph-col-12
			.ph-row
				.ph-col-auto
					.item__block__top
						.ph-picture
				.item__block__desc.ph-col-4
					.ph-row
						.ph-col-12.ph-line.big
						.ph-col-5.ph-line
						.ph-col-2.empty
						.ph-col-5.ph-line
						.ph-col-5.ph-line
						.ph-col-2.empty
						.ph-col-5.ph-line
						.ph-col-5.ph-line
						.ph-col-2.empty
						.ph-col-5.ph-line
						.ph-col-5.ph-line
						.ph-col-2.empty
						.ph-col-5.ph-line

mixin item__block-grid-ph
	.item__block.ph-item
		.ph-col-12
			.item__block__top
				.ph-picture
			.ph-row.item__block__desc
				.ph-col-8.ph-line
				.ph-col-8.ph-line
				.ph-col-8.ph-line
				.ph-col-8.ph-line
				.ph-col-8.ph-line
				.ph-col-8.ph-line
				.ph-col-8.ph-line
				.ph-col-8.ph-line.big
				