mixin pagination
    ul.pagination
        li.prev
            a(href="?page=4")
                <svg width="5" height="10" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.8028 9.47451C4.86529 9.41254 4.91488 9.33881 4.94873 9.25757C4.98257 9.17633 5 9.08919 5 9.00118C5 8.91317 4.98257 8.82604 4.94873 8.7448C4.91488 8.66356 4.86529 8.58982 4.8028 8.52785L1.74947 5.47451C1.68699 5.41254 1.63739 5.3388 1.60355 5.25757C1.5697 5.17633 1.55227 5.08919 1.55227 5.00118C1.55227 4.91317 1.5697 4.82604 1.60355 4.7448C1.63739 4.66356 1.68699 4.58982 1.74947 4.52785L4.8028 1.47451C4.86529 1.41254 4.91488 1.3388 4.94873 1.25756C4.98257 1.17632 5 1.08919 5 1.00118C5 0.913172 4.98257 0.826034 4.94873 0.744795C4.91488 0.663555 4.86529 0.589821 4.8028 0.527846C4.67789 0.403679 4.50893 0.333984 4.3328 0.333984C4.15668 0.333984 3.98771 0.403679 3.8628 0.527846L0.802808 3.58785C0.428274 3.96285 0.217902 4.47118 0.217902 5.00118C0.217902 5.53118 0.428274 6.03951 0.802808 6.41451L3.8628 9.47451C3.98771 9.59868 4.15668 9.66838 4.3328 9.66838C4.50893 9.66838 4.67789 9.59868 4.8028 9.47451Z" fill="#797A80"/>
                </svg>
        - var n = 1;
        while n < 10
            if (n == 5)
                li.active
                    a(href="?page=" + n)= n++
            else
                li
                    a(href="?page=" + n)= n++
        li.next
            a(href="?page=6")
                <svg width="5" height="10" viewBox="0 0 5 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.197199 9.47451C0.134713 9.41254 0.0851172 9.33881 0.0512714 9.25757C0.0174257 9.17633 3.82702e-07 9.08919 3.78855e-07 9.00118C3.75008e-07 8.91317 0.0174257 8.82604 0.0512714 8.7448C0.0851171 8.66356 0.134713 8.58982 0.197199 8.52785L3.25053 5.47451C3.31301 5.41254 3.36261 5.3388 3.39645 5.25757C3.4303 5.17633 3.44773 5.08919 3.44773 5.00118C3.44773 4.91317 3.4303 4.82604 3.39645 4.7448C3.36261 4.66356 3.31301 4.58982 3.25053 4.52785L0.197199 1.47451C0.134713 1.41254 0.0851168 1.3388 0.0512711 1.25756C0.0174253 1.17632 3.3011e-08 1.08919 2.9164e-08 1.00118C2.53171e-08 0.913172 0.0174253 0.826034 0.051271 0.744795C0.0851168 0.663555 0.134713 0.589821 0.197199 0.527846C0.322107 0.403679 0.491074 0.333984 0.667198 0.333984C0.843321 0.333984 1.01229 0.403679 1.1372 0.527846L4.19719 3.58785C4.57173 3.96285 4.7821 4.47118 4.7821 5.00118C4.7821 5.53118 4.57173 6.03951 4.19719 6.41451L1.1372 9.47451C1.01229 9.59868 0.843322 9.66838 0.667198 9.66838C0.491075 9.66838 0.322107 9.59868 0.197199 9.47451Z" fill="#797A80"/>
                </svg>