//- header.header
.d-header
    .d-header__lang
        include ../blocks/language-drop
    .d-header__controls
        .d-header__controls-item.dr__el
            .d-header__alarm.dr__el-btn
                .newnot
                .notificationblock.stblock.dr__el-block
                    .__head You have 3 new notifications
                    .__list
                        .item.active
                            .title Collection publish completed
                            .date 3 days ago
                        .item.active
                            .title Collection publish completed
                            .date 4 days ago
                        .item.active
                            .title Collection publish completed
                            .date 7 days ago
                        .item
                            .title Collection publish completed
                            .date 2022-02-18 19:41:58
                    .__showall See all notifications
        .d-header__controls-item.dr__el
            .d-header__user
                .user-drop.dr__el-btn
                    .user-drop__pic(style="background-color: #0E86F4") DS
                    // Если загружено фото профиля
                    <!-- .user-drop__pic(style="background-image: url()") -->
                    .user-drop__data
                        .user-drop__name Dmitrii Shatunov
                        .user-drop__descr GOTTESSHIRT
                .d-header__dropdown.stblock.dr__el-block
                    .user-settings.dropdown-settings
                        .item
                            <svg class="icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.5596 8.87592L12.5588 5.27506C12.2655 4.22016 11.6279 3.29358 10.7475 2.64262C9.8671 1.99165 8.79436 1.65365 7.69981 1.68235C6.60525 1.71105 5.5517 2.10479 4.70661 2.801C3.86152 3.4972 3.2734 4.45591 3.03573 5.52474L2.26088 9.00918C2.17529 9.3942 2.17727 9.79353 2.26667 10.1777C2.35607 10.5618 2.53061 10.921 2.7774 11.2287C3.02419 11.5363 3.33693 11.7846 3.69254 11.9553C4.04814 12.1259 4.43752 12.2145 4.83194 12.2145H5.41874C5.53964 12.8098 5.86265 13.3451 6.33304 13.7296C6.80343 14.1141 7.39228 14.3241 7.99981 14.3241C8.60734 14.3241 9.19619 14.1141 9.66658 13.7296C10.137 13.3451 10.46 12.8098 10.5809 12.2145H11.0223C11.4283 12.2145 11.8289 12.1206 12.1926 11.9402C12.5564 11.7599 12.8735 11.4978 13.1192 11.1746C13.3649 10.8513 13.5326 10.4757 13.6091 10.0769C13.6856 9.67817 13.6688 9.26713 13.5602 8.87592H13.5596ZM7.99981 13.268C7.67414 13.2666 7.35685 13.1647 7.09133 12.9761C6.82581 12.7875 6.62504 12.5215 6.51649 12.2145H9.48314C9.37458 12.5215 9.17381 12.7875 8.9083 12.9761C8.64278 13.1647 8.32548 13.2666 7.99981 13.268ZM12.2802 10.5368C12.1334 10.7315 11.9432 10.8893 11.7248 10.9976C11.5063 11.106 11.2656 11.1619 11.0218 11.161H4.83194C4.59532 11.1609 4.36172 11.1077 4.1484 11.0053C3.93508 10.9029 3.74747 10.754 3.59943 10.5694C3.45139 10.3848 3.3467 10.1693 3.29308 9.93882C3.23945 9.70835 3.23827 9.46878 3.28962 9.23779L4.06394 5.75282C4.2506 4.91329 4.71253 4.16025 5.37631 3.6134C6.0401 3.06656 6.86763 2.75729 7.72736 2.73477C8.5871 2.71225 9.42969 2.97776 10.1212 3.4891C10.8127 4.00044 11.3134 4.72827 11.5438 5.55687L12.5446 9.15773C12.6107 9.39233 12.6213 9.63911 12.5754 9.87849C12.5295 10.1179 12.4284 10.3433 12.2802 10.5368Z" fill="#313133"/>
                            </svg>
                            .title User Profile
                        .item
                            <svg class="icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.5596 8.87592L12.5588 5.27506C12.2655 4.22016 11.6279 3.29358 10.7475 2.64262C9.8671 1.99165 8.79436 1.65365 7.69981 1.68235C6.60525 1.71105 5.5517 2.10479 4.70661 2.801C3.86152 3.4972 3.2734 4.45591 3.03573 5.52474L2.26088 9.00918C2.17529 9.3942 2.17727 9.79353 2.26667 10.1777C2.35607 10.5618 2.53061 10.921 2.7774 11.2287C3.02419 11.5363 3.33693 11.7846 3.69254 11.9553C4.04814 12.1259 4.43752 12.2145 4.83194 12.2145H5.41874C5.53964 12.8098 5.86265 13.3451 6.33304 13.7296C6.80343 14.1141 7.39228 14.3241 7.99981 14.3241C8.60734 14.3241 9.19619 14.1141 9.66658 13.7296C10.137 13.3451 10.46 12.8098 10.5809 12.2145H11.0223C11.4283 12.2145 11.8289 12.1206 12.1926 11.9402C12.5564 11.7599 12.8735 11.4978 13.1192 11.1746C13.3649 10.8513 13.5326 10.4757 13.6091 10.0769C13.6856 9.67817 13.6688 9.26713 13.5602 8.87592H13.5596ZM7.99981 13.268C7.67414 13.2666 7.35685 13.1647 7.09133 12.9761C6.82581 12.7875 6.62504 12.5215 6.51649 12.2145H9.48314C9.37458 12.5215 9.17381 12.7875 8.9083 12.9761C8.64278 13.1647 8.32548 13.2666 7.99981 13.268ZM12.2802 10.5368C12.1334 10.7315 11.9432 10.8893 11.7248 10.9976C11.5063 11.106 11.2656 11.1619 11.0218 11.161H4.83194C4.59532 11.1609 4.36172 11.1077 4.1484 11.0053C3.93508 10.9029 3.74747 10.754 3.59943 10.5694C3.45139 10.3848 3.3467 10.1693 3.29308 9.93882C3.23945 9.70835 3.23827 9.46878 3.28962 9.23779L4.06394 5.75282C4.2506 4.91329 4.71253 4.16025 5.37631 3.6134C6.0401 3.06656 6.86763 2.75729 7.72736 2.73477C8.5871 2.71225 9.42969 2.97776 10.1212 3.4891C10.8127 4.00044 11.3134 4.72827 11.5438 5.55687L12.5446 9.15773C12.6107 9.39233 12.6213 9.63911 12.5754 9.87849C12.5295 10.1179 12.4284 10.3433 12.2802 10.5368Z" fill="#313133"/>
                            </svg>
                            .title My Stores
                    .shop-settings
                        .item.active
                            <svg class="icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.6791 3.08091C13.6673 3.00011 13.5917 2.95528 13.529 2.9504C13.4668 2.94552 12.2478 2.92821 12.2478 2.92821C12.2478 2.92821 11.2284 2.00313 11.1277 1.90903C11.027 1.81492 10.8303 1.84333 10.7538 1.86464C10.7529 1.86508 10.5624 1.92013 10.2417 2.0129C10.1881 1.85043 10.1092 1.65068 9.9966 1.45004C9.63369 0.802843 9.10211 0.4606 8.45984 0.459715C8.4589 0.459715 8.45841 0.459715 8.45747 0.459715C8.41281 0.459715 8.36863 0.463709 8.324 0.467259C8.30499 0.445952 8.28599 0.425091 8.26604 0.404669C7.98622 0.125017 7.62759 -0.0112582 7.19766 0.000726965C6.36824 0.0229217 5.54215 0.582672 4.87234 1.57699C4.40109 2.27657 4.04243 3.15549 3.94078 3.83597C2.98831 4.11163 2.3223 4.30427 2.30757 4.30872C1.82683 4.44987 1.81163 4.46363 1.74893 4.88712C1.70237 5.20715 0.444458 14.2963 0.444458 14.2963L10.9861 16L15.5551 14.9386C15.5551 14.9386 13.691 3.16171 13.6791 3.08091ZM9.71397 2.1656C9.47122 2.23573 9.1952 2.31563 8.89593 2.40219C8.88976 2.00979 8.83988 1.4638 8.64417 0.991941C9.2736 1.10336 9.58332 1.76876 9.71397 2.1656ZM8.3444 2.56199C7.79194 2.72179 7.1891 2.89624 6.58439 3.07115C6.75444 2.46256 7.07701 1.85665 7.4732 1.45936C7.62045 1.31155 7.82661 1.14686 8.07078 1.05275C8.30023 1.5002 8.35011 2.13364 8.3444 2.56199ZM7.21427 0.516531C7.40905 0.512536 7.57294 0.552488 7.71309 0.638603C7.48887 0.747357 7.27223 0.903608 7.06893 1.10735C6.54209 1.63559 6.13831 2.45546 5.97727 3.24648C5.47515 3.39163 4.98395 3.53413 4.53171 3.66464C4.81723 2.41951 5.93404 0.551155 7.21427 0.516531Z" fill="#95BF47"/>
                            <path d="M13.5295 2.95082C13.4673 2.94594 12.2483 2.92863 12.2483 2.92863C12.2483 2.92863 11.2289 2.00355 11.1281 1.90945C11.0906 1.87438 11.0398 1.85618 10.9866 1.84863L10.9871 15.9995L15.5555 14.9386C15.5555 14.9386 13.6915 3.16213 13.6796 3.08133C13.6677 3.00053 13.5917 2.9557 13.5295 2.95082Z" fill="#5E8E3E"/>
                            <path d="M8.45416 5.14558L7.92356 7.00059C7.92356 7.00059 7.33165 6.74891 6.63002 6.79019C5.60106 6.85102 5.59013 7.45737 5.6006 7.60963C5.65665 8.43926 7.99242 8.62038 8.12355 10.5637C8.22663 12.0925 7.25563 13.1383 5.85664 13.2209C4.17736 13.3199 3.25293 12.3944 3.25293 12.3944L3.60874 10.9801C3.60874 10.9801 4.53934 11.6362 5.2842 11.5922C5.77066 11.5634 5.94451 11.1936 5.92693 10.9322C5.85379 9.84995 3.95171 9.91387 3.83154 8.13563C3.73034 6.63929 4.78211 5.12294 7.10267 4.98622C7.9967 4.93251 8.45416 5.14558 8.45416 5.14558Z" fill="white"/>
                            </svg>
                            .title GOTTSHIRT
                        .item
                            <svg class="icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.6791 3.08091C13.6673 3.00011 13.5917 2.95528 13.529 2.9504C13.4668 2.94552 12.2478 2.92821 12.2478 2.92821C12.2478 2.92821 11.2284 2.00313 11.1277 1.90903C11.027 1.81492 10.8303 1.84333 10.7538 1.86464C10.7529 1.86508 10.5624 1.92013 10.2417 2.0129C10.1881 1.85043 10.1092 1.65068 9.9966 1.45004C9.63369 0.802843 9.10211 0.4606 8.45984 0.459715C8.4589 0.459715 8.45841 0.459715 8.45747 0.459715C8.41281 0.459715 8.36863 0.463709 8.324 0.467259C8.30499 0.445952 8.28599 0.425091 8.26604 0.404669C7.98622 0.125017 7.62759 -0.0112582 7.19766 0.000726965C6.36824 0.0229217 5.54215 0.582672 4.87234 1.57699C4.40109 2.27657 4.04243 3.15549 3.94078 3.83597C2.98831 4.11163 2.3223 4.30427 2.30757 4.30872C1.82683 4.44987 1.81163 4.46363 1.74893 4.88712C1.70237 5.20715 0.444458 14.2963 0.444458 14.2963L10.9861 16L15.5551 14.9386C15.5551 14.9386 13.691 3.16171 13.6791 3.08091ZM9.71397 2.1656C9.47122 2.23573 9.1952 2.31563 8.89593 2.40219C8.88976 2.00979 8.83988 1.4638 8.64417 0.991941C9.2736 1.10336 9.58332 1.76876 9.71397 2.1656ZM8.3444 2.56199C7.79194 2.72179 7.1891 2.89624 6.58439 3.07115C6.75444 2.46256 7.07701 1.85665 7.4732 1.45936C7.62045 1.31155 7.82661 1.14686 8.07078 1.05275C8.30023 1.5002 8.35011 2.13364 8.3444 2.56199ZM7.21427 0.516531C7.40905 0.512536 7.57294 0.552488 7.71309 0.638603C7.48887 0.747357 7.27223 0.903608 7.06893 1.10735C6.54209 1.63559 6.13831 2.45546 5.97727 3.24648C5.47515 3.39163 4.98395 3.53413 4.53171 3.66464C4.81723 2.41951 5.93404 0.551155 7.21427 0.516531Z" fill="#95BF47"/>
                            <path d="M13.5295 2.95082C13.4673 2.94594 12.2483 2.92863 12.2483 2.92863C12.2483 2.92863 11.2289 2.00355 11.1281 1.90945C11.0906 1.87438 11.0398 1.85618 10.9866 1.84863L10.9871 15.9995L15.5555 14.9386C15.5555 14.9386 13.6915 3.16213 13.6796 3.08133C13.6677 3.00053 13.5917 2.9557 13.5295 2.95082Z" fill="#5E8E3E"/>
                            <path d="M8.45416 5.14558L7.92356 7.00059C7.92356 7.00059 7.33165 6.74891 6.63002 6.79019C5.60106 6.85102 5.59013 7.45737 5.6006 7.60963C5.65665 8.43926 7.99242 8.62038 8.12355 10.5637C8.22663 12.0925 7.25563 13.1383 5.85664 13.2209C4.17736 13.3199 3.25293 12.3944 3.25293 12.3944L3.60874 10.9801C3.60874 10.9801 4.53934 11.6362 5.2842 11.5922C5.77066 11.5634 5.94451 11.1936 5.92693 10.9322C5.85379 9.84995 3.95171 9.91387 3.83154 8.13563C3.73034 6.63929 4.78211 5.12294 7.10267 4.98622C7.9967 4.93251 8.45416 5.14558 8.45416 5.14558Z" fill="white"/>
                            </svg>
                            .title Another shop longna...
                    .logout.dropdown-settings
                        .item
                            <svg class="icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.5596 8.87592L12.5588 5.27506C12.2655 4.22016 11.6279 3.29358 10.7475 2.64262C9.8671 1.99165 8.79436 1.65365 7.69981 1.68235C6.60525 1.71105 5.5517 2.10479 4.70661 2.801C3.86152 3.4972 3.2734 4.45591 3.03573 5.52474L2.26088 9.00918C2.17529 9.3942 2.17727 9.79353 2.26667 10.1777C2.35607 10.5618 2.53061 10.921 2.7774 11.2287C3.02419 11.5363 3.33693 11.7846 3.69254 11.9553C4.04814 12.1259 4.43752 12.2145 4.83194 12.2145H5.41874C5.53964 12.8098 5.86265 13.3451 6.33304 13.7296C6.80343 14.1141 7.39228 14.3241 7.99981 14.3241C8.60734 14.3241 9.19619 14.1141 9.66658 13.7296C10.137 13.3451 10.46 12.8098 10.5809 12.2145H11.0223C11.4283 12.2145 11.8289 12.1206 12.1926 11.9402C12.5564 11.7599 12.8735 11.4978 13.1192 11.1746C13.3649 10.8513 13.5326 10.4757 13.6091 10.0769C13.6856 9.67817 13.6688 9.26713 13.5602 8.87592H13.5596ZM7.99981 13.268C7.67414 13.2666 7.35685 13.1647 7.09133 12.9761C6.82581 12.7875 6.62504 12.5215 6.51649 12.2145H9.48314C9.37458 12.5215 9.17381 12.7875 8.9083 12.9761C8.64278 13.1647 8.32548 13.2666 7.99981 13.268ZM12.2802 10.5368C12.1334 10.7315 11.9432 10.8893 11.7248 10.9976C11.5063 11.106 11.2656 11.1619 11.0218 11.161H4.83194C4.59532 11.1609 4.36172 11.1077 4.1484 11.0053C3.93508 10.9029 3.74747 10.754 3.59943 10.5694C3.45139 10.3848 3.3467 10.1693 3.29308 9.93882C3.23945 9.70835 3.23827 9.46878 3.28962 9.23779L4.06394 5.75282C4.2506 4.91329 4.71253 4.16025 5.37631 3.6134C6.0401 3.06656 6.86763 2.75729 7.72736 2.73477C8.5871 2.71225 9.42969 2.97776 10.1212 3.4891C10.8127 4.00044 11.3134 4.72827 11.5438 5.55687L12.5446 9.15773C12.6107 9.39233 12.6213 9.63911 12.5754 9.87849C12.5295 10.1179 12.4284 10.3433 12.2802 10.5368Z" fill="#313133"/>
                            </svg>
                            .title Logout