//- header.header
.d-header
    .d-header__lang
        include ../blocks/language-drop
    .d-header__controls
        .d-header__controls-item.dr__el
            .d-header__alarm.dr__el-btn
                .newnot
                .notificationblock.stblock.dr__el-block
                    .__head You have 3 new notifications
                    .__list
                        .item.active
                            .title Collection publish completed
                            .date 3 days ago
                        .item.active
                            .title Collection publish completed
                            .date 4 days ago
                        .item.active
                            .title Collection publish completed
                            .date 7 days ago
                        .item
                            .title Collection publish completed
                            .date 2022-02-18 19:41:58
                    .__showall See all notifications
        .d-header__controls-item.dr__el
            .d-header__user
                .user-drop.dr__el-btn
                    .user-drop__pic(style="background-color: #0E86F4") DS
                    // Если загружено фото профиля
                    <!-- .user-drop__pic(style="background-image: url()") -->
                    .user-drop__data
                        .user-drop__name Dmitrii Shatunov
                        .user-drop__descr GOTTESSHIRT
                .d-header__dropdown.stblock.dr__el-block
                    .user-settings.dropdown-settings
                        .item
                            <svg class="icon" width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#a)" fill="#484A4D">
                                    <path d="M8 8a4 4 0 1 0 0-8 4 4 0 0 0 0 8Zm0-6.667a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334ZM8 9.334a6.007 6.007 0 0 0-6 6 .667.667 0 1 0 1.333 0 4.666 4.666 0 1 1 9.334 0 .667.667 0 1 0 1.333 0 6.007 6.007 0 0 0-6-6Z"/>
                                </g>
                                <defs>
                                    <clipPath id="a">
                                        <path fill="#fff" d="M0 0h16v16H0z"/>
                                    </clipPath>
                                </defs>
                            </svg>
                            .title User Profile
                        .item
                            <svg class="icon" width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#a)" fill="#484A4D">
                                    <path d="M4.667 4h10.666a.667.667 0 1 0 0-1.333H4.667a.667.667 0 0 0 0 1.333ZM15.333 7.333H4.667a.667.667 0 1 0 0 1.334h10.666a.667.667 0 1 0 0-1.333ZM15.333 12H4.667a.666.666 0 1 0 0 1.333h10.666a.667.667 0 1 0 0-1.333ZM1.333 4.667a1.333 1.333 0 1 0 0-2.667 1.333 1.333 0 0 0 0 2.667ZM1.333 9.333a1.333 1.333 0 1 0 0-2.667 1.333 1.333 0 0 0 0 2.667ZM1.333 14a1.333 1.333 0 1 0 0-2.667 1.333 1.333 0 0 0 0 2.667Z"/>
                                </g>
                                <defs><clipPath id="a"><path fill="#fff" d="M0 0h16v16H0z"/></clipPath></defs>
                            </svg>
                            .title My Stores
                    .shop-settings
                        .item.active
                            <svg class="icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.6791 3.08091C13.6673 3.00011 13.5917 2.95528 13.529 2.9504C13.4668 2.94552 12.2478 2.92821 12.2478 2.92821C12.2478 2.92821 11.2284 2.00313 11.1277 1.90903C11.027 1.81492 10.8303 1.84333 10.7538 1.86464C10.7529 1.86508 10.5624 1.92013 10.2417 2.0129C10.1881 1.85043 10.1092 1.65068 9.9966 1.45004C9.63369 0.802843 9.10211 0.4606 8.45984 0.459715C8.4589 0.459715 8.45841 0.459715 8.45747 0.459715C8.41281 0.459715 8.36863 0.463709 8.324 0.467259C8.30499 0.445952 8.28599 0.425091 8.26604 0.404669C7.98622 0.125017 7.62759 -0.0112582 7.19766 0.000726965C6.36824 0.0229217 5.54215 0.582672 4.87234 1.57699C4.40109 2.27657 4.04243 3.15549 3.94078 3.83597C2.98831 4.11163 2.3223 4.30427 2.30757 4.30872C1.82683 4.44987 1.81163 4.46363 1.74893 4.88712C1.70237 5.20715 0.444458 14.2963 0.444458 14.2963L10.9861 16L15.5551 14.9386C15.5551 14.9386 13.691 3.16171 13.6791 3.08091ZM9.71397 2.1656C9.47122 2.23573 9.1952 2.31563 8.89593 2.40219C8.88976 2.00979 8.83988 1.4638 8.64417 0.991941C9.2736 1.10336 9.58332 1.76876 9.71397 2.1656ZM8.3444 2.56199C7.79194 2.72179 7.1891 2.89624 6.58439 3.07115C6.75444 2.46256 7.07701 1.85665 7.4732 1.45936C7.62045 1.31155 7.82661 1.14686 8.07078 1.05275C8.30023 1.5002 8.35011 2.13364 8.3444 2.56199ZM7.21427 0.516531C7.40905 0.512536 7.57294 0.552488 7.71309 0.638603C7.48887 0.747357 7.27223 0.903608 7.06893 1.10735C6.54209 1.63559 6.13831 2.45546 5.97727 3.24648C5.47515 3.39163 4.98395 3.53413 4.53171 3.66464C4.81723 2.41951 5.93404 0.551155 7.21427 0.516531Z" fill="#95BF47"/>
                            <path d="M13.5295 2.95082C13.4673 2.94594 12.2483 2.92863 12.2483 2.92863C12.2483 2.92863 11.2289 2.00355 11.1281 1.90945C11.0906 1.87438 11.0398 1.85618 10.9866 1.84863L10.9871 15.9995L15.5555 14.9386C15.5555 14.9386 13.6915 3.16213 13.6796 3.08133C13.6677 3.00053 13.5917 2.9557 13.5295 2.95082Z" fill="#5E8E3E"/>
                            <path d="M8.45416 5.14558L7.92356 7.00059C7.92356 7.00059 7.33165 6.74891 6.63002 6.79019C5.60106 6.85102 5.59013 7.45737 5.6006 7.60963C5.65665 8.43926 7.99242 8.62038 8.12355 10.5637C8.22663 12.0925 7.25563 13.1383 5.85664 13.2209C4.17736 13.3199 3.25293 12.3944 3.25293 12.3944L3.60874 10.9801C3.60874 10.9801 4.53934 11.6362 5.2842 11.5922C5.77066 11.5634 5.94451 11.1936 5.92693 10.9322C5.85379 9.84995 3.95171 9.91387 3.83154 8.13563C3.73034 6.63929 4.78211 5.12294 7.10267 4.98622C7.9967 4.93251 8.45416 5.14558 8.45416 5.14558Z" fill="white"/>
                            </svg>
                            .title GOTTSHIRT
                        .item
                            <svg class="icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.6791 3.08091C13.6673 3.00011 13.5917 2.95528 13.529 2.9504C13.4668 2.94552 12.2478 2.92821 12.2478 2.92821C12.2478 2.92821 11.2284 2.00313 11.1277 1.90903C11.027 1.81492 10.8303 1.84333 10.7538 1.86464C10.7529 1.86508 10.5624 1.92013 10.2417 2.0129C10.1881 1.85043 10.1092 1.65068 9.9966 1.45004C9.63369 0.802843 9.10211 0.4606 8.45984 0.459715C8.4589 0.459715 8.45841 0.459715 8.45747 0.459715C8.41281 0.459715 8.36863 0.463709 8.324 0.467259C8.30499 0.445952 8.28599 0.425091 8.26604 0.404669C7.98622 0.125017 7.62759 -0.0112582 7.19766 0.000726965C6.36824 0.0229217 5.54215 0.582672 4.87234 1.57699C4.40109 2.27657 4.04243 3.15549 3.94078 3.83597C2.98831 4.11163 2.3223 4.30427 2.30757 4.30872C1.82683 4.44987 1.81163 4.46363 1.74893 4.88712C1.70237 5.20715 0.444458 14.2963 0.444458 14.2963L10.9861 16L15.5551 14.9386C15.5551 14.9386 13.691 3.16171 13.6791 3.08091ZM9.71397 2.1656C9.47122 2.23573 9.1952 2.31563 8.89593 2.40219C8.88976 2.00979 8.83988 1.4638 8.64417 0.991941C9.2736 1.10336 9.58332 1.76876 9.71397 2.1656ZM8.3444 2.56199C7.79194 2.72179 7.1891 2.89624 6.58439 3.07115C6.75444 2.46256 7.07701 1.85665 7.4732 1.45936C7.62045 1.31155 7.82661 1.14686 8.07078 1.05275C8.30023 1.5002 8.35011 2.13364 8.3444 2.56199ZM7.21427 0.516531C7.40905 0.512536 7.57294 0.552488 7.71309 0.638603C7.48887 0.747357 7.27223 0.903608 7.06893 1.10735C6.54209 1.63559 6.13831 2.45546 5.97727 3.24648C5.47515 3.39163 4.98395 3.53413 4.53171 3.66464C4.81723 2.41951 5.93404 0.551155 7.21427 0.516531Z" fill="#95BF47"/>
                            <path d="M13.5295 2.95082C13.4673 2.94594 12.2483 2.92863 12.2483 2.92863C12.2483 2.92863 11.2289 2.00355 11.1281 1.90945C11.0906 1.87438 11.0398 1.85618 10.9866 1.84863L10.9871 15.9995L15.5555 14.9386C15.5555 14.9386 13.6915 3.16213 13.6796 3.08133C13.6677 3.00053 13.5917 2.9557 13.5295 2.95082Z" fill="#5E8E3E"/>
                            <path d="M8.45416 5.14558L7.92356 7.00059C7.92356 7.00059 7.33165 6.74891 6.63002 6.79019C5.60106 6.85102 5.59013 7.45737 5.6006 7.60963C5.65665 8.43926 7.99242 8.62038 8.12355 10.5637C8.22663 12.0925 7.25563 13.1383 5.85664 13.2209C4.17736 13.3199 3.25293 12.3944 3.25293 12.3944L3.60874 10.9801C3.60874 10.9801 4.53934 11.6362 5.2842 11.5922C5.77066 11.5634 5.94451 11.1936 5.92693 10.9322C5.85379 9.84995 3.95171 9.91387 3.83154 8.13563C3.73034 6.63929 4.78211 5.12294 7.10267 4.98622C7.9967 4.93251 8.45416 5.14558 8.45416 5.14558Z" fill="white"/>
                            </svg>
                            .title Another shop longnanother shop longna
                    .logout.dropdown-settings
                        .item
                            <svg class="icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.65067 10C7.47386 10 7.30429 10.0702 7.17926 10.1953C7.05424 10.3203 6.984 10.4899 6.984 10.6667V12.6667C6.984 13.1971 6.77329 13.7058 6.39821 14.0809C6.02314 14.456 5.51443 14.6667 4.984 14.6667H3.33333C2.8029 14.6667 2.29419 14.456 1.91912 14.0809C1.54405 13.7058 1.33333 13.1971 1.33333 12.6667V3.33333C1.33333 2.8029 1.54405 2.29419 1.91912 1.91912C2.29419 1.54405 2.8029 1.33333 3.33333 1.33333H4.984C5.51443 1.33333 6.02314 1.54405 6.39821 1.91912C6.77329 2.29419 6.984 2.8029 6.984 3.33333V5.33333C6.984 5.51014 7.05424 5.67971 7.17926 5.80474C7.30429 5.92976 7.47386 6 7.65067 6C7.82748 6 7.99705 5.92976 8.12207 5.80474C8.2471 5.67971 8.31733 5.51014 8.31733 5.33333V3.33333C8.31627 2.4496 7.96475 1.60237 7.33985 0.97748C6.71496 0.352588 5.86773 0.00105857 4.984 0H3.33333C2.4496 0.00105857 1.60237 0.352588 0.97748 0.97748C0.352588 1.60237 0.00105857 2.4496 0 3.33333L0 12.6667C0.00105857 13.5504 0.352588 14.3976 0.97748 15.0225C1.60237 15.6474 2.4496 15.9989 3.33333 16H4.984C5.86773 15.9989 6.71496 15.6474 7.33985 15.0225C7.96475 14.3976 8.31627 13.5504 8.31733 12.6667V10.6667C8.31733 10.4899 8.2471 10.3203 8.12207 10.1953C7.99705 10.0702 7.82748 10 7.65067 10Z" fill="#484A4D"/>
                                <path d="M15.2448 6.58605L12.1875 3.52872C12.126 3.46505 12.0524 3.41426 11.9711 3.37932C11.8898 3.34438 11.8023 3.32599 11.7138 3.32522C11.6252 3.32445 11.5375 3.34132 11.4555 3.37484C11.3736 3.40836 11.2992 3.45786 11.2366 3.52046C11.174 3.58305 11.1245 3.65749 11.0909 3.73942C11.0574 3.82135 11.0406 3.90914 11.0413 3.99766C11.0421 4.08617 11.0605 4.17365 11.0954 4.25499C11.1304 4.33633 11.1812 4.40989 11.2448 4.47139L14.0862 7.31339L4.00016 7.33339C3.82335 7.33339 3.65378 7.40363 3.52876 7.52865C3.40373 7.65367 3.3335 7.82324 3.3335 8.00005C3.3335 8.17687 3.40373 8.34643 3.52876 8.47146C3.65378 8.59648 3.82335 8.66672 4.00016 8.66672L14.1255 8.64605L11.2435 11.5287C11.1798 11.5902 11.129 11.6638 11.0941 11.7451C11.0592 11.8265 11.0408 11.9139 11.04 12.0025C11.0392 12.091 11.0561 12.1788 11.0896 12.2607C11.1231 12.3426 11.1726 12.4171 11.2352 12.4797C11.2978 12.5422 11.3723 12.5917 11.4542 12.6253C11.5361 12.6588 11.6239 12.6757 11.7124 12.6749C11.801 12.6741 11.8884 12.6557 11.9698 12.6208C12.0511 12.5858 12.1247 12.5351 12.1862 12.4714L15.2435 9.41405C15.6186 9.03918 15.8295 8.53066 15.8297 8.00033C15.83 7.47 15.6196 6.96129 15.2448 6.58605Z" fill="#484A4D"/>
                            </svg>
                            .title Logout