.d-sidebar
    .d-sidebar__logo
        a(href="#").d-sidebar__logo-link
        img(src="./img/main-logo.svg", alt="printegy").d-sidebar__img
    nav.d-sidebar__nav
        a(href="#").d-sidebar__link
            img(src="./img/sidebar-dashboard.svg", alt="").d-sidebar__link-img
            .d-sidebar__link-text Dashboard
        a(href="#").d-sidebar__link
            img(src="./img/sidebar-products.svg", alt="").d-sidebar__link-img
            .d-sidebar__link-text Products
        a(href="#").d-sidebar__link
            img(src="./img/sidebar-designs.svg", alt="").d-sidebar__link-img
            .d-sidebar__link-text Designs
        a(href="#").d-sidebar__link
            img(src="./img/sidebar-branding.svg", alt="").d-sidebar__link-img
            .d-sidebar__link-text Branding
        a(href="#").d-sidebar__link
            img(src="./img/sidebar-orders.svg", alt="").d-sidebar__link-img
            .d-sidebar__link-text Orders
        a(href="#").d-sidebar__link
            img(src="./img/sidebar-billing.svg", alt="").d-sidebar__link-img
            .d-sidebar__link-text Billing
        a(href="#").d-sidebar__link
            img(src="./img/sidebar-settings.svg", alt="").d-sidebar__link-img
            .d-sidebar__link-text Settings
    .d-sidebar__bottom
        .d-sidebar__bottom-item
            a(href="#").d-sidebar__help Help Center
        .d-sidebar__bottom-item
            .d-sidebar__version v1.0.0