include ../mixins/product_thumb

doctype html
html(lang="en")
    block sharedVars
    head
        block title
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="description")
        meta(name="keywords" content="keywords")
        include _head_style
        link(rel="stylesheet" href="//cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css")

    body(id='loader')
        .loader
            .lds-dual-ring
        //- include _header
        //end header
        .dashboard
            .dashboard__header
                include _d-header
            .dashboard__sidebar
                include _d-sidebar
            .dashboard__content
                block content
                    .main
                        .popupmain
                            .dashboard__product__popup-header
                                .__steps
                                    .__step.done
                                        .stepcount 1
                                        img(src="./img/check-gray.svg" width="16" height="16" alt="").check
                                        span Product
                                    .__step.done
                                        .stepcount 2
                                        img(src="./img/check-gray.svg" width="16" height="16" alt="").check
                                        span Design
                                    .__step.active
                                        .stepcount 3
                                        img(src="./img/check-gray.svg" width="16" height="16" alt="").check
                                        span Review
                                .__navigation

                            .dashboard__product__popup-contentwrapper
                                form(action="/").branding__form
                                    .dashboard__product__popup-content.review
                                        .__reviewblock
                                            .__main
                                                .titleblock
                                                    h2.title T-Shirt Apparel
                                                    .cost €14.90
                                                block mainimg
                                                    .mainimg-block
                                                        img(src="./img/tshirtimg.png" width="423" height="398" alt="")
                                                        .__side__btns
                                                            .side-btn
                                                                <svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <g clip-path="url(#clip0_2202_8369)">
                                                                <path d="M14.2625 6.70842C14.0236 6.7719 13.8089 6.90479 13.6455 7.0903C13.4821 7.27581 13.3774 7.50561 13.3446 7.75063C13.3117 7.99566 13.3523 8.2449 13.4612 8.46686C13.57 8.68882 13.7422 8.87352 13.956 8.99761C14.1698 9.1217 14.4157 9.17961 14.6624 9.16401C14.9091 9.14841 15.1456 9.06001 15.3421 8.90998C15.5386 8.75995 15.6862 8.55503 15.7662 8.32113C15.8462 8.08723 15.8551 7.83486 15.7917 7.59592C15.7496 7.43722 15.6766 7.28838 15.577 7.15789C15.4773 7.02739 15.353 6.91781 15.2109 6.83539C15.0689 6.75298 14.9121 6.69935 14.7494 6.67756C14.5866 6.65577 14.4212 6.66626 14.2625 6.70842Z" fill="#AAADB3"/>
                                                                <path d="M10.0955 4.20842C9.85661 4.2719 9.64187 4.40479 9.47848 4.5903C9.31508 4.77581 9.21036 5.00561 9.17756 5.25063C9.14476 5.49566 9.18534 5.7449 9.29418 5.96686C9.40303 6.18882 9.57524 6.37352 9.78905 6.49761C10.0029 6.6217 10.2487 6.67961 10.4954 6.66401C10.7421 6.64841 10.9786 6.56001 11.1751 6.40998C11.3716 6.25995 11.5192 6.05503 11.5992 5.82113C11.6792 5.58723 11.6881 5.33486 11.6247 5.09592C11.5826 4.93722 11.5096 4.78838 11.41 4.65789C11.3103 4.52739 11.186 4.41781 11.044 4.33539C10.902 4.25298 10.7451 4.19935 10.5824 4.17756C10.4196 4.15577 10.2542 4.16626 10.0955 4.20842Z" fill="#AAADB3"/>
                                                                <path d="M5.92902 6.70842C5.6901 6.7719 5.47537 6.90479 5.31197 7.0903C5.14858 7.27581 5.04386 7.50561 5.01106 7.75063C4.97825 7.99566 5.01884 8.2449 5.12768 8.46686C5.23652 8.68882 5.40874 8.87352 5.62254 8.99761C5.83635 9.1217 6.08215 9.17961 6.32887 9.16401C6.57559 9.14841 6.81214 9.06001 7.00862 8.90998C7.2051 8.75995 7.35268 8.55503 7.4327 8.32113C7.51272 8.08723 7.52159 7.83486 7.45819 7.59592C7.41608 7.43722 7.34312 7.28838 7.24348 7.15789C7.14383 7.02739 7.01946 6.91781 6.87746 6.83539C6.73545 6.75298 6.57861 6.69935 6.41587 6.67756C6.25314 6.65577 6.08771 6.66626 5.92902 6.70842Z" fill="#AAADB3"/>
                                                                <path d="M5.92902 11.7084C5.6901 11.7719 5.47537 11.9048 5.31197 12.0903C5.14858 12.2758 5.04386 12.5056 5.01106 12.7506C4.97825 12.9957 5.01884 13.2449 5.12768 13.4669C5.23652 13.6888 5.40874 13.8735 5.62254 13.9976C5.83635 14.1217 6.08215 14.1796 6.32887 14.164C6.57559 14.1484 6.81214 14.06 7.00862 13.91C7.2051 13.76 7.35268 13.555 7.4327 13.3211C7.51272 13.0872 7.52159 12.8349 7.45819 12.5959C7.41608 12.4372 7.34312 12.2884 7.24348 12.1579C7.14383 12.0274 7.01946 11.9178 6.87746 11.8354C6.73545 11.753 6.57861 11.6993 6.41587 11.6776C6.25314 11.6558 6.08771 11.6663 5.92902 11.7084Z" fill="#AAADB3"/>
                                                                <path d="M10.4159 0.00603999C9.07419 -0.0406115 7.73685 0.183365 6.48359 0.664617C5.23032 1.14587 4.08679 1.87454 3.12116 2.80719C2.15554 3.73985 1.38759 4.85738 0.863105 6.09318C0.338618 7.32897 0.0683317 8.65772 0.0683594 10.0002C0.0714471 12.6514 1.12601 15.1932 3.0007 17.0679C4.8754 18.9426 7.41715 19.9971 10.0684 20.0002C10.35 20.0002 10.6267 19.9819 10.9017 19.9585C11.1104 19.941 11.3048 19.8455 11.4462 19.691C11.5876 19.5366 11.6658 19.3346 11.665 19.1252L11.6384 16.1352C11.6316 15.5444 11.8011 14.9649 12.1252 14.4708C12.4493 13.9767 12.9134 13.5905 13.458 13.3613C14.0027 13.1322 14.6033 13.0706 15.1831 13.1844C15.7629 13.2982 16.2957 13.5822 16.7134 14.0002L16.7967 14.0835C16.9859 14.2743 17.2202 14.4142 17.478 14.4901C17.7357 14.566 18.0085 14.5755 18.2709 14.5177C18.529 14.4635 18.7694 14.3453 18.9699 14.1739C19.1705 14.0025 19.3247 13.7835 19.4184 13.5369C19.8785 12.3288 20.0984 11.0425 20.0659 9.75021C19.9721 7.21188 18.9281 4.80144 17.1407 2.99665C15.3534 1.19186 12.9532 0.124467 10.4159 0.00603999ZM17.9009 12.8394L17.8892 12.8277C17.2378 12.1774 16.4077 11.7356 15.5045 11.5584C14.6013 11.3812 13.6658 11.4768 12.817 11.8328C11.9682 12.1888 11.2446 12.7893 10.738 13.5578C10.2315 14.3263 9.96505 15.2282 9.97253 16.1485L9.99253 18.3335C7.78239 18.3236 5.66673 17.4361 4.11095 15.8663C2.55518 14.2964 1.68675 12.1728 1.69669 9.96271C1.70664 7.75257 2.59415 5.63691 4.16399 4.08113C5.73382 2.52536 7.85739 1.65693 10.0675 1.66687C10.165 1.66687 10.2634 1.66687 10.3617 1.67187C12.4754 1.77115 14.4746 2.66082 15.9632 4.16459C17.4519 5.66837 18.3213 7.67649 18.3992 9.79104C18.4267 10.8274 18.2585 11.8596 17.9034 12.8335L17.9009 12.8394Z" fill="#AAADB3"/>
                                                                </g>
                                                                <defs>
                                                                <clipPath id="clip0_2202_8369">
                                                                <rect width="20" height="20" fill="white"/>
                                                                </clipPath>
                                                                </defs>
                                                                </svg>
                                                                p.name Design
                                                            .side-btn
                                                                <svg class="icon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <g clip-path="url(#clip0_2202_8385)">
                                                                <path d="M5.83333 0H3.33333C2.44928 0 1.60143 0.35119 0.976311 0.976311C0.35119 1.60143 0 2.44928 0 3.33333L0 5.83333C0 6.71739 0.35119 7.56524 0.976311 8.19036C1.60143 8.81548 2.44928 9.16667 3.33333 9.16667H5.83333C6.71739 9.16667 7.56524 8.81548 8.19036 8.19036C8.81548 7.56524 9.16667 6.71739 9.16667 5.83333V3.33333C9.16667 2.44928 8.81548 1.60143 8.19036 0.976311C7.56524 0.35119 6.71739 0 5.83333 0V0ZM7.5 5.83333C7.5 6.27536 7.32441 6.69928 7.01184 7.01184C6.69928 7.32441 6.27536 7.5 5.83333 7.5H3.33333C2.89131 7.5 2.46738 7.32441 2.15482 7.01184C1.84226 6.69928 1.66667 6.27536 1.66667 5.83333V3.33333C1.66667 2.89131 1.84226 2.46738 2.15482 2.15482C2.46738 1.84226 2.89131 1.66667 3.33333 1.66667H5.83333C6.27536 1.66667 6.69928 1.84226 7.01184 2.15482C7.32441 2.46738 7.5 2.89131 7.5 3.33333V5.83333Z" fill="#AAADB3"/>
                                                                <path d="M5.83334 10.834H3.33334C2.44928 10.834 1.60143 11.1852 0.976312 11.8103C0.35119 12.4354 0 13.2833 0 14.1673L0 16.6673C0 17.5514 0.35119 18.3992 0.976312 19.0244C1.60143 19.6495 2.44928 20.0007 3.33334 20.0007H5.83334C6.71739 20.0007 7.56524 19.6495 8.19036 19.0244C8.81548 18.3992 9.16667 17.5514 9.16667 16.6673V14.1673C9.16667 13.2833 8.81548 12.4354 8.19036 11.8103C7.56524 11.1852 6.71739 10.834 5.83334 10.834ZM7.50001 16.6673C7.50001 17.1094 7.32441 17.5333 7.01185 17.8458C6.69929 18.1584 6.27537 18.334 5.83334 18.334H3.33334C2.89131 18.334 2.46738 18.1584 2.15482 17.8458C1.84226 17.5333 1.66667 17.1094 1.66667 16.6673V14.1673C1.66667 13.7253 1.84226 13.3014 2.15482 12.9888C2.46738 12.6762 2.89131 12.5007 3.33334 12.5007H5.83334C6.27537 12.5007 6.69929 12.6762 7.01185 12.9888C7.32441 13.3014 7.50001 13.7253 7.50001 14.1673V16.6673Z" fill="#AAADB3"/>
                                                                <path d="M16.6664 10.834H14.1663C13.2823 10.834 12.4344 11.1852 11.8093 11.8103C11.1842 12.4354 10.833 13.2833 10.833 14.1673V16.6673C10.833 17.5514 11.1842 18.3992 11.8093 19.0244C12.4344 19.6495 13.2823 20.0007 14.1663 20.0007H16.6664C17.5504 20.0007 18.3983 19.6495 19.0234 19.0244C19.6485 18.3992 19.9997 17.5514 19.9997 16.6673V14.1673C19.9997 13.2833 19.6485 12.4354 19.0234 11.8103C18.3983 11.1852 17.5504 10.834 16.6664 10.834ZM18.333 16.6673C18.333 17.1094 18.1574 17.5333 17.8449 17.8458C17.5323 18.1584 17.1084 18.334 16.6664 18.334H14.1663C13.7243 18.334 13.3004 18.1584 12.9878 17.8458C12.6753 17.5333 12.4997 17.1094 12.4997 16.6673V14.1673C12.4997 13.7253 12.6753 13.3014 12.9878 12.9888C13.3004 12.6762 13.7243 12.5007 14.1663 12.5007H16.6664C17.1084 12.5007 17.5323 12.6762 17.8449 12.9888C18.1574 13.3014 18.333 13.7253 18.333 14.1673V16.6673Z" fill="#AAADB3"/>
                                                                <path d="M11.6663 5.83398H14.1663V8.33398C14.1663 8.555 14.2541 8.76696 14.4104 8.92324C14.5667 9.07952 14.7787 9.16732 14.9997 9.16732C15.2207 9.16732 15.4327 9.07952 15.5889 8.92324C15.7452 8.76696 15.833 8.555 15.833 8.33398V5.83398H18.333C18.554 5.83398 18.766 5.74619 18.9223 5.58991C19.0785 5.43363 19.1663 5.22166 19.1663 5.00065C19.1663 4.77964 19.0785 4.56768 18.9223 4.41139C18.766 4.25511 18.554 4.16732 18.333 4.16732H15.833V1.66732C15.833 1.4463 15.7452 1.23434 15.5889 1.07806C15.4327 0.921782 15.2207 0.833984 14.9997 0.833984C14.7787 0.833984 14.5667 0.921782 14.4104 1.07806C14.2541 1.23434 14.1663 1.4463 14.1663 1.66732V4.16732H11.6663C11.4453 4.16732 11.2334 4.25511 11.0771 4.41139C10.9208 4.56768 10.833 4.77964 10.833 5.00065C10.833 5.22166 10.9208 5.43363 11.0771 5.58991C11.2334 5.74619 11.4453 5.83398 11.6663 5.83398Z" fill="#AAADB3"/>
                                                                </g>
                                                                <defs>
                                                                <clipPath id="clip0_2202_8385">
                                                                <rect width="20" height="20" fill="white"/>
                                                                </clipPath>
                                                                </defs>
                                                                </svg>
                                                                p.name Products
                                                .___thumbs__block
                                                    +product_thumb-ph
                                                    +product_thumb-ph
                                                    +product_thumb-ph
                                                    +product_thumb-ph
                                                    +product_thumb('active')
                                                    +product_thumb
                                                    +product_thumb
                                                    +product_thumb
                                        block sideblock
                            .notifications
                                block notify
            block overlays
            //end content
        include _footer
        //end footer
        //- include ../blocks/_popup
        //end modal
        block scripts
            script(src="js/loader.js")
            script(src="//cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
            script(src="js/just-validate.production.min.js")
            script(src="js/dashboardproducts.js")
            script(src="js/popuptable.js")
            script(src="js/select.js")
        include _scripts
        //end wrapper