include ../mixins/_mixins

doctype html
html(lang="en")
    block sharedVars
    head
        block title
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="description")
        meta(name="keywords" content="keywords")
        block style
        include _head_style

    block body
    body
        //- include _header
        //end header
        main.wrapper
            block content
            //end content
        include _footer
        //end footer
        //- include ../blocks/_popup
        //end modal
        block scripts
        include _scripts
        //end wrapper